<!-- search box -->
<div id="search-box">
    <div class="input-group">
        <input ng-model="query_item" type="text" class="form-control" style="border-color: #81C2D6"
            data-provide="typeahead" placeholder="rs779353569/hsa-let-7a-3p" id="search">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search_button" type="button" style="background-color: #ffbbbc"
                ng-click="search_query()">
                Search
            </button>
        </span>
    </div>
</div>
<!-- alert -->
<div class="alert alert-danger alert-dismissible" ng-show="alert_nonitem" id="alert_nonitem">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Sorry, your query item is not exist.</strong>
</div>

<div class="alert alert-danger alert-dismissible" ng-show="alert_unrecorgnize" id="alert_unrecorgnize">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Unrecorgnized input!</strong>
</div>

<div class="alert alert-danger alert-dismissible" ng-show="alert_illegal" id="alert_illegal">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Illegal input!</strong>
</div>

<!-- description -->
<div class="row" id="home-description">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <h4>Welcome to the miRNASNP<span style="color:red;">-v3</span> database</4>
            </div>
            <div class="panel-body">
                <p>microRNAs (miRNAs) are endogenous and regulatory non-coding RNAs by targeting mRNAs for cleavage or translational repression. SNPs in pre-miRNAs or target sites will affect miRNA function and be related with diseases or biological processes. <span class="badge alert-info">miRNASNP</span> aims to provide a comprehensive resource of human miRNA-related SNPs, which includes SNPs in pre-miRNAs and target gain and loss by SNPs in miRNA seed regions or 3'UTR of target mRNAs.</p>
                <p><span class="badge alert-info">miRNASNP<span style="color:red;">-v3</span></span> characterized human <span class="badge alert-danger">6,363,450</span> SNPs on <span class="badge alert-danger">2,126</span> miRNA and <span class="badge alert-danger">18,152</span> genes' 3'UTR which doubled compared with <span class="badge alert-info">miRNASNP<span style="color:red;">-v2</span></span>. Besides, <span class="badge alert-danger">203,471</span> mutations from <span class="badge alert-info"><a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">ClinVar</a></span> and <span class="badge alert-info"><a href="https://cancer.sanger.ac.uk/cosmic" target="_blank">COSMIC</a></span> were identified on the miRNA seed region and 3'UTR. <span class="badge alert-info">Gene enrichment</span> of targets gain/loss by SNP in miRNA seed region are provided for SNP effect on miRNA.
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <h4>In miRNASNP<span style="color:red;">-v3</span>, you can browse or search</h4>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled">
                    <li><p>SNPs in pre-miRNAs and their impacts on miRNAs. <span class="badge alert-info">Double!</span></p></li>
                    <li><p>Targets gain/loss by SNPs in gene 3'UTR. <span class="badge alert-info">Double!</span></p></li>
                    <li><p>Targets gain/loss by SNPs in miRNA seed. <span class="badge alert-info">Double!</span></p></li>
                    <li><p>Online tools to predict novel SNP effect on miRNA function. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Experiment validated miRNA:gene interaction. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Expression and correlation of miRNAs and genes. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Gene enrichment of miRNA targets gain and loss. <span class="badge alert-success">New!</span></p></li>
                    <li><p>Mutations on miRNA and 3'UTR from COSMIC and ClinVar. <span class="badge alert-success">New!</span></p></li>
                    <li><p>Targets gain/loss by mutations in miRNA seed. <span class="badge alert-success">New!</span></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- module -->
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="/static/miRNASNP3/img/mirna_stamp.png" alt="#" class="img-round" style="height: 160px;width:252px">
                <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ><h4><a href="#!/primir_summary">Primary</a></h4></span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="/static/miRNASNP3/img/snp_stamp.png" alt="#" class="img-round" style="height: 160px;width:252px">
                    <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ><h4><a href="#!/snp_summary">SNP</a></h4></span>
                    </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="/static/miRNASNP3/img/mutation_stamp.png" alt="#" class="img-round" style="height: 160px;width:252px">
                <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ><h4><a href="#!/mutation_summary">Mutation</a></h4></span>
                    </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#">
                <img src="/static/miRNASNP3/img/tools_stamp.png" alt="#" class="img-round" style="height: 160px;width:252px">
                <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ></span><h4><a href="#!/tools">Tools</a><h4></span>
                    </div>
            </a>
        </div>
    </div>
</div>

<!-- citation -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-body" style="margin: 10px 0px">
                <div class="col-md-1"><strong>Citation:</strong></div>
                <div class="col-md-11">
                    <p>
                        <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4397995/" target="_blank">
                            <strong>An update of
                                miRNASNP database for better SNP selection by GWAS data, miRNA expression and online
                                tools.
                            </strong>
                        </a> <br />
                        Gong J, Liu CJ, Wu Y, Ma Z, Chen H and Guo AY. <em>Database</em>. (2015)
                    </p>
                </div>
                <div class="col-md-11 col-md-offset-1">
                    <p>
                        <a href="https://onlinelibrary.wiley.com/doi/full/10.1002/humu.21641" target="_blank">
                            <strong>Genome-wide identification of SNPs in microRNA genes and the SNP effects
                            on microRNA target binding and biogenesis.
                            </strong>
                        </a><br />
                        Gong J, Tong Y, Zhang HM, Wang K, Hu T, Shan G, Sun J and Guo AY. <em>Human Mutation</em>. (2011)
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>