<div >
    <h3>Welcome!</h3>
    <p>Micrornas with SNP on the seed region may targets variate Genes compared with wild type </p>
    <p>Mirnasnp is an online resource where you can  explor:</p>
    <ul>
        <li><a href="#!/search">Target Gain/Loss of microRNA caused by SNP on miR-seed region</a> </li>
        <li><a href="#!/search">Target Gain/Loss of microRNA caused by SNP on Gene UTR3</a> </li>
        <li><a href="#!/tools">Predict your own sequence</a> </li>
    </ul>
</div>

<div style="padding: 20px 100px 10px" class="ng-scope">
    <div class="input-group">
        <input ng-model="query_item" type="text"  class="form-control" style="border-color: #81C2D6" data-provide="typeahead"
               placeholder="rs779353569/hsa-let-7a-3p/" id="search">
        <span class="input-group-btn">
						<button class="btn btn-default" id="search_button" type="button" style="background-color: #ffbbbc" ng-click="search_query()" >
							Search
						</button>
					</span>
    </div><!-- /input-group -->
</div>



<div>
    <a href="#!/mutation">
        <img src="static/miRNASNP3/img/mutaion.PNG">
    </a>
    <a href="#!/snp">
        <img src="static/miRNASNP3/img/SNP.PNG">
    </a>
    <a href="#!/mir">
        <img src="static/miRNASNP3/img/Tool.PNG"-->
    </a>
    <a href="#!/browser">
    <img src="static/miRNASNP3/img/broswer.PNG">
    </a>
</div>


