<!-- search box -->
<div id="search-box">
    <div class="input-group">
        <input ng-model="query_item" type="text" class="form-control" style="border-color: #81C2D6"
            data-provide="typeahead" placeholder="rs779353569/hsa-let-7a-3p/tp53" id="search">
        <span class="input-group-btn">
            <button class="btn btn-default" id="search_button" type="button" style="background-color: #ffbbbc"
                ng-click="search_query()">
                Search
            </button>
        </span>
    </div>
</div>
<!-- alert -->
<div class="alert alert-danger alert-dismissible" ng-show="alert_nonitem" id="alert_nonitem">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
  
    <strong>Sorry, your query item is not exist.</strong>
</div>

<div class="alert alert-danger alert-dismissible" ng-show="alert_invalid" id="alert_invalid">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
 
    <strong>Invalid input!</strong>
</div>

<!-- description -->
<div class="row" id="home-description">
    <div class="col-sm-6">
        <div class="panel">
            <div class="panel-heading">
                <h4>Welcome to the miRNASNP<span style="color:red;">-v3</span> database</4>
            </div>
            <div class="panel-body" style="height:300px">
                <p>microRNAs (miRNAs) are endogenous and regulatory non-coding RNAs by targeting mRNAs for cleavage or translational repression. SNPs on pre-miRNAs or target sites will affect miRNA expression or functions. <span class="badge alert-info">miRNASNP</span> is a comprehensive resource of human miRNA-related SNPs, including their effects on target gain and loss.</p>
                <p>In <span class="badge alert-info">miRNASNP<span style="color:red;">-v3</span></span>, <span class="badge alert-danger">6,400,867</span> SNPs on human<span class="badge alert-danger">1,897</span> pre-miRNAs(<span class="badge alert-danger">2,624</span> mature miRNAs) and 3'UTRs of <span class="badge alert-danger">18,152</span> genes were characterized. Besides, <span class="badge alert-danger">203,471</span> mutations from <span class="badge alert-info"><a href="https://www.ncbi.nlm.nih.gov/clinvar/" target="_blank">ClinVar</a></span> and <span class="badge alert-info"><a href="https://cancer.sanger.ac.uk/cosmic" target="_blank">COSMIC</a></span> were identified on the pre-miRNAs(<span class="badge alert-danger">2,065</span> on mature miRNAs, <span class="badge alert-danger">522</span> on seed regions) and 3'UTRs. <span class="badge alert-info">Gene enrichment</span> of targets gained or lost by SNP in the miRNA seed region is provided.
                </p>
                
            </div>
        </div>
    </div>
    <div class="col-sm-6">    
        <div class="panel">
            <div class="panel-heading">
                <h4>In miRNASNP<span style="color:red;">-v3</span>, you can browse or search</h4>
            </div>
            <div class="panel-body" style="height: 300px">
                <ul class="list-unstyled">
                    <li><p>SNPs in pre-miRNAs and their impacts on miRNAs. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Targets gain/loss by SNPs in gene 3'UTR. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Targets gain/loss by SNPs in miRNA seed. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Online tools to predict novel SNP effect on miRNA function. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Experiment validated miRNA:gene interaction. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Expression and correlation of miRNAs and genes. <span class="badge alert-info">Update!</span></p></li>
                    <li><p>Gene enrichment of miRNA targets gain and loss. <span class="badge alert-success">New!</span></p></li>
                    <li><p>Mutations on miRNA and 3'UTR from COSMIC and ClinVar. <span class="badge alert-success">New!</span></p></li>
                    <li><p>Targets gain/loss by mutations in miRNA seed. <span class="badge alert-success">New!</span></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- module -->
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#!/primir_summary">
                <img src="/static/miRNASNP3/img/precursor.png" alt="#" class="img-round" style="height: 120px;width:220px">
                <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ><h4><a href="#!/primir_summary">Pre-miRNA</a></h4></span>
                </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
            <div class="thumbnail">
                <a href="#!/mirna_summary">
                    <img src="/static/miRNASNP3/img/mature_stamp_2.png" alt="#" class="img-round" style="height: 120px;width:220px">
                    <div class="caption" style="text-align: center">
                            <span style="font-size: x-large;" class="center" ><h4><a href="#!/mirna_summary">Mature miRNA</a></h4></span>
                    </div>
                </a>
            </div>
        </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#!/snp_summary">
                <img src="/static/miRNASNP3/img/snp_stamp.png" alt="#" class="img-round" style="height: 120px;width: 220px">
                    <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ><h4><a href="#!/snp_summary">SNP</a></h4></span>
                    </div>
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="#!/mutation_summary">
                <img src="/static/miRNASNP3/img/phenotype_stamp_1.png" alt="#" class="img-round" style="height: 120px;width:220px">
                <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ><h4><a href="#!/mutation_summary">Phenotype</a></h4></span>
                    </div>
            </a>
        </div>
    </div>
    <!--div class="col-md-3">
        <div class="thumbnail">
            <a href="#!/tools">
                <img src="/static/miRNASNP3/img/tools_stamp.png" alt="#" class="img-round" style="height: 100px;width:140px">
                <div class="caption" style="text-align: center">
                        <span style="font-size: x-large;" class="center" ></span><h4><a href="#!/tools">Tools</a><h4></span>
                    </div>
            </a>
        </div>
    </div-->
</div>
