
<div class="bs-callout bs-callout-info">
    <div class="description">
    <h4>SNPs in human mature miRNA</h4>
    <p>There are <span class="badge alert-info">2,652</span> mature miRNA derived from <span class="badge alert-info">1,913</span> pre-miRNA.</p>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-body">
        <form method="get" id="mirna-summary-form" class="form form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-2">Chromosome:</label>
                <div class="col-lg-3">
                    <select id="chr" class="form-control">
                        <option>All</option>
                        <option>chr1</option>
                        <option>chr2</option>
                        <option>chr3</option>
                        <option>chr4</option>
                        <option>chr5</option>
                        <option>chr6</option>
                        <option>chr7</option>
                        <option>chr8</option>
                        <option>chr9</option>
                        <option>chr10</option>
                        <option>chr11</option>
                        <option>chr12</option>
                        <option>chr13</option>
                        <option>chr14</option>
                        <option>chr15</option>
                        <option>chr16</option>
                        <option>chr17</option>
                        <option>chr18</option>
                        <option>chr19</option>
                        <option>chr20</option>
                        <option>chr21</option>
                        <option>chr22</option>
                        <option>chrX</option>
                        <option>chrY</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Input:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-xs" id="query_mirna_summary" ng-model="query_mirna_summary" placeholder="hsa-let-7e-3p">
                </div>
                <span class="help-block">Input a miRNA name/mirbase ID,such as hsa-let-7e-3p</span>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-4">
                        <button class="btn btn-danger" id="search_button" type="submit" ng-click="fetch_mirna_summary()" >
							Submit
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" id="reset_button" type="reset" ng-click="reset_query()" >
							Reset
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- alert -->
<div class="alert alert-danger alert-dismissible" ng-show="alert_nonitem" id="alert_nonitem">
        <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
      
        <strong>Sorry, your query item is not exist.</strong>
    </div>
    
    <div class="alert alert-danger alert-dismissible" ng-show="alert_invalid" id="alert_invalid">
        <!--button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="close_invalid()"-->
                <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
     
        <strong>Invalid input!</strong>
    </div>
<div class="div-table">
    <div ng-show="initial">
        <div class="flyover" ng-hide="mirna_summary_count">
            <div class="mask"></div>
            <div class="spinner"></div>
        </div>
    </div>
        <div ng-show="mirna_summary_count"> 
            
                <div paging
                page="currentPage_mature"
                page-size=15
                total="mirna_summary_count"
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                show-first-last="true"
                text-title-page="Page {page} Hover Over"
                text-title-first="First hover"
                text-title-last="Last hover"
                text-title-next="Next hover"
                text-title-prev="Prev hover"
                show-prev-next="true"
                show-first-last="true"
                ul-class="pagination"
                active-class="active"
                disabled-class="disabled"
                paging-action="update_page(page)"
                ></div>

            <table class="table table-bordered" ts-wrapper>
                <thead>
                    <tr>
                        <th ts-criteria="mir_id" >Mature miRNA</th>
                        <th ts-criteria="mir_acc">Accession</th>
                        <th ts-criteria="mir_start" >Position</th>
                        <th ts-criteria="snp_in_seed+snp_in_mature|parseInt style="width: 12%">SNP Number</th>
                        <th ts-criteria="mutation_sum|parseInt">Mutation Number
                                <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                                data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                                data-content="Number of Mutation which on the mature miRNA, includes COSMIC Mutations and ClinVar variations;"></span>
                        </th>
                        <th ts-criteria="pre_id|parseFloat">Pre-miRNA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="v in mirna_summary_list" ts-repeat>
                        <td><a href="#!/mirna?mirna_id={$v.mir_id$}" style="color:#FF0000"><strong>{$ v.mir_id$}</strong></a></td>
                        <td><a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$v.mir_acc$}">{$ v.mir_acc $}</a></td>
                        <td>{$ v.mir_chr$}:{$v.mir_start$}-{$v.mir_end$}({$v.mir_strand$})</td>
                        <td>{$ v.snp_in_seed$}/{$v.snp_in_matue$}</td>
            <!--td>{$v.snp_in_matue$}</td-->
                        <td>{$ v.mutation_sum $}</td>
                        <td><a href="#!/premir_detail?search_ids={$v.pre_id$}" style="color:#FF0000">{$ v.pre_id$}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>