<div class="bs-callout-primary">
        <h4>Mutation summery information</h4>
        <p>
                <span class="badge alert-warning">227,225</span> mutations from COSMIC and <span class="badge alert-warning">44,819</span> variations from Clinvar are collected in miRNASNP3,some of these muttaions share the same coodinates with SNPs.
        </p>
    </div>

    <div class="panel panel-primary">
        <div class="panel-body">
            <form method="get" id="mutation-summary-form" class="form form-horizontal">
            <div class="form-group">
            <label class="control-label col-lg-1">Chromosome</label>
            <div class="col-lg-3">
            <select id="chr" class="form-control">
                <option>All</option>
                <option>chr1</option>
                <option>chr2</option>
                <option>chr3</option>
                <option>chr4</option>
                <option>chr5</option>
                <option>chr6</option>
                <option>chr7</option>
                <option>chr8</option>
                <option>chr9</option>
                <option>chr10</option>
                <option>chr11</option>
                <option>chr12</option>
                <option>chr13</option>
                <option>chr14</option>
                <option>chr15</option>
                <option>chr16</option>
                <option>chr17</option>
                <option>chr18</option>
                <option>chr19</option>
                <option>chr20</option>
                <option>chr21</option>
                <option>chr22</option>
                <option>chrX</option>
                <option>chrY</option>
            </select>
            </div>
            <label class="control-label col-lg-1">Location</label>
            <div class="col-lg-3">
                <select id="location" class="form-control">
                    <option value="All">All</option>
                    <option value="UTR3">3.UTR</option>
                    <option value="mirSeed">mature miRNA Seed</option>
                </select>
            </div>
            <label class="control-label col-lg-1">Resource</label>
            <div class="col-lg-3">
                <select id="resource" class="form-control">
                    <option>All</option>
                    <option>COSMIC</option>
                    <option>ClinVar</option>
                </select>
            </div>
        </div>
        <div class="form-group">
                <label class="control-label col-lg-1">Tissue</label>
                <div class="col-lg-3">
                    <select id="histology" class="selectpicker" data-live-search="true">
                        <option value="All">All</option>
                        <option>adrenal_gland</option>
                        <option>autonomic_ganglia</option>
                        <option>biliary</option>
                        <option>bone</option>
                        <option>breast</option>
                        <option>central_nervous_system</option>
                        <option>cervix</option>
                        <option>endometrium</option>
                        <option>eye</option>
                        <option>haematopoietic</option>
                        <option>lymphoid</option>
                        <option>kidney</option>
                        <option>large_intestine</option>
                        <option>liver</option>
                        <option>lung</option>
                        <option>oesophagus</option>
                        <option>ovary</option>
                        <option>pancreas</option>
                        <option>parathyroid</option>
                        <option>peritoneum</option>
                        <option>prostate</option>
                        <option>salivary_gland</option>
                        <option>skin</option>
                        <option>small_intestine</option>
                        <option>soft_tissue</option>
                        <option>stomach</option>
                        <option>testis</option>
                        <option>thymus</option>
                        <option>thyroid</option>
                        <option>upper_aerodigestive</option>
                        <option>urinary</option>
                    </select>
                    </div>
            <label class="control-label col-lg-1">Pathology</label>
            <div class="col-lg-3">
                <select id="pathology" class="selectpicker" data-live-search="true">
                    <option value="All">All</option>
                    <option>carcinoma</option>
                    <option>tumor</option>
                    <option>neoplasm</option>
                    <option>Congenital_disorder_of_glycosylation</option>
                    <option>Charcot-Marie-Tooth_disease</option>
                    <option>Retinitis_Pigmentosa</option>
                    <option>Zellweger_syndrome</option>
                    <option>Spastic_paraplegia</option>
                    <option>Ciliary_dyskinesia</option>
                    <option>Pseudohypoaldosteronism</option>
                    <option>Brugada_syndrome</option>
                    <option>Fanconi_anemia</option>
                    <option>Neuronal_Ceroid-Lipofuscinosis</option>
                    <option>Non-syndromic_X-linked_intellectual_disability</option>
                    <option>Congenital_hypothyroidism</option>
                    <option>Pheochromocytoma</option>
                    <option>Disorders_of_Intracellular_Cobalamin_Metabolism</option>
                    <option>Joubert_syndrome</option>
                    <option>Epilepsy</option>
                    <option>Heterotaxia</option>
                    <option>Primary_pulmonary_hypertension</option>
                    <option>Cryptophthalmos_syndrome</option>
                    <option>Progressive_myoclonic_epilepsy</option>
                    <option>Nonsyndromic_Hearing_Loss</option>
                    <option>Tuberous_sclerosis_syndrome</option>
                    <option>dysplasia</option>
                    <option>Osteogenesis_Imperfecta</option>
                    <option>Hereditary_cancer-predisposing_syndrome</option>
                    <option>Hermansky-Pudlak_syndrome</option>
                    <option>Noonan-Like_Syndrome_Disorder</option>
                    <option>Skeletal_dysplasia</option>
                    <option>Larsen_syndrome</option>
                    <option>3-Methylglutaconic_aciduria</option>
                    <option>Combined_oxidative_phosphorylation_deficiency</option>
                    <option>Benign_familial_neonatal_seizures</option>
                    <option>Maple_syrup_urine_disease</option>
                    <option>Dilated_Cardiomyopathy</option>
                    <option>Holoprosencephaly_sequence</option>
                    <option>Congenital_Myasthenic_Syndrome</option>
                    <option>Weill-Marchesani-like_syndrome</option>
                    <option>Familial_Candidiasis</option>
                    <option>Delta-sarcoglycanopathy</option>
                    <option>Dilated_Cardiomyopathy</option>
                    <option>Limb-Girdle_Muscular_Dystrophy</option>
                    <option>Xeroderma_pigmentosum</option>
                    <option>Nail-patella_syndrome</option>
                    <option>Brugada_syndrome</option>
                    <option>Timothy_syndrome</option>
                    <option>Arrhythmogenic_right_ventricular_cardiomyopathy</option>
                    <option>Osteopetrosis</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <!--label class="control-label col-lg-1">Search</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" id="query_mutation_summary" ng-model="query_mutation_summary">
            </div>
            <span class="help-block">Input a  COSMIC/Clinvar ID,such as </span-->
            <div class="col-lg-9">
                <label class="control-label checkbox-inline">
                    <input type="checkbox" id="snp_rela">
                    <strong id="snp_rela_1">Relate with SNP</strong>
                </label>
                <!--label class="control-label checkbox-inline">
                    <input type="checkbox" id="is_pubmed">
                    <strong id="is_pubmed_1">With Pubmend ID</strong>
              </label>
              <label class="control-label checkbox-inline">
                    <input type="checkbox" id="target_effection">
                    <strong>Target gain/loss information</strong>
                </label-->
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-1 col-lg-offset-5">
            <span class="input-group-btn">
                <button class="btn btn-primary" id="search_button" type="submit" ng-click="fetch_mutation_summary(page)" >
							Submit
                </button>
            </span>
            </div>
        
            <div class="col-lg-1">
            <span class="input-group-btn">
                <button class="btn btn-danger" id="reset_query" type="reset" ng-click=reset()>
							Reset
                </button>
            </span>
            </div>
        </div>
    </form>
</div>
</div>



<div class="div-table" >
    <div ng-show="initial">
            <div class="flyover" ng-hide="mutation_summary_count">
                    <div class="mask"></div>
                    <div class="spinner"></div>
                </div>
                </div>
    <div ng-show="mutation_summary_count">
    <table class="table table-bordered" style="table-layout: fixed" ts-wrapper>
        <thead>
            <tr>
                <th style="width: 11%">Position</th>
                <th ts-criteria="mut_id" style="width: 16%">Mutation ID</th>
                <th style="width:6%">Ref/Alt</th>
                <th style="width: 25%">Pathology</th>
                <th style="width: 7%">Location</th>
                <th style="width: 8%">Gene</th>
                <th style="width: 10%"ts-criteria="pubmed_id|parseFloat">Relate SNP</th>
                <th ts-criteria="pubmed_id|parseInt" style="width: 8%">PubMed ID</th>
                <th ts-criteria="gain_count|parseInt" style="width: 5%">Gain</th>
                <th ts-criteria="loss_count|parseInt" style="width: 5%">Loss</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="v in mutation_summary_list" ts-repeat>
                    <!--td>{$ $index+1 $}</td-->
                <td>{$ v.chrome$}:{$ v.position $}</td>
                <td>{$v.resource$}:<a href="{$v.url$}" >{$ v.mut_id $}</a></td>
                <td>{$ v.ref$}/{$v.alt$}</td>
                <!--td style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;" title="{$v.pathology_show$}">{$ v.pathology_show$}</td-->
                <td style="word-break:break-all">{$ v.pathology_show$}</td>
                <td>{$v.location $}</td>
                <td>{$v.identifier$}</td>
                <td align="center">
                    <span ng-if="v.snp_id"><a href="https://www.ncbi.nlm.nih.gov/snp/?term={$v.snp_id$}">{$ v.snp_id $}</span>
                    <span ng-if="!v.snp_id">-</span>
                </td>
                <td align="center">
                    <span ng-if="v.pubmed_id"><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={$v.pubmed_id$}">{$ v.pubmed_id$}</a></span>
                    <span ng-if="!v.pubmed_id">-</span>
                </td>
                <td>
                    <span ng-if="v.snp_id"><a href="#!/snp?snp_id={$v.snp_id$}" style="color: red">{$v.gain_count$}</a></span>
                    <span ng-if="!v.snp_id"><a href="#!/mutation?mut_id={$v.mut_id$}" style="color: red">{$v.gain_count$}</a></span>
                </td>
                <td>
                    <span ng-if="v.snp_id"><a href="#!/snp?snp_id={$v.snp_id$}" style="color: red">{$v.loss_count$}</a></span>
                    <span ng-if="!v.snp_id"><a href="#!/mutation?mut_id={$v.mut_id$}" style="color: red">{$v.loss_count$}</a></span>
                </td>
            </tr>
        </tbody>
    </table> 
    </div> 
    <div ng-show="mutation_summary_count">
    <div paging
                     page="currentPage"
                     page-size=15
                     total="mutation_summary_count"
                     scroll-top="true"
                     hide-if-empty="true"
                     show-prev-next="true"
                     show-first-last="true"
                     text-title-page="Page {page} Hover Over"
                     text-title-first="First hover"
                     text-title-last="Last hover"
                     text-title-next="Next hover"
                     text-title-prev="Prev hover"
                     show-prev-next="true"
                     show-first-last="true"
                     ul-class="pagination"
                     active-class="active"
                     disabled-class="disabled"
                     paging-action="fetch_mutation_summary(page)"
                ></div>
    </div>

