<div class="content">
    
    <div class="panel panel-primary">
        <div class="panel-heading">
                <strong>Basic information of {$premir_info.pre_id$}</strong>
        </div>
        <div class="panel-body">
            <table id="pre" class="table table-condensed table-bordered" style="word-break:break-all; word-wrap:break-all;">
                <tbody>
                <tr>
                    <td colspan="7" class="default" style="text-align: center">
                    <span style="font-size: 20px">
                        <strong>Precursor miRNA</strong>
                    </span>
                    </td>
                <tr>
                    <td style="font-size: 18px;" width="200px" >
                        <strong>Precursor ID</strong>
                    </td>
                    <td style="text-align: left" colspan="6">{$premir_info.pre_id$}
                        <span style="float:right;clear;">
                            <a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$premir_info.mirinfo[0].pre_acc$}"
                               title="miRBase" target="blank">
                                <img src="/static/miRNASNP3/img/mirbase.png" border="0" style="width:40px;height:30px">
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;">
                        <strong>Accession</strong>
                    </td>
                    <td style="text-align: left" colspan="6"><a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$premir_info.mirinfo[0].pre_acc$}">{$premir_info.pre_acc_list$}</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Genome position
                    </td>
                    <td style="text-align: left" colspan="6">
                            <!--a href="https://genome-asia.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={$premir_info.mirinfo[0].pre_chr$}%3A{$premir_info.mirinfo[0].pre_start$}%2D{$premir_info.mirinfo[0].pre_end$}">
                            {$premir_info.mirinfo[0].pre_chr$}:{$premir_info.mirinfo[0].pre_start$}-{$premir_info.mirinfo[0].pre_end$}({$premir_info.mirinfo[0].pre_strand$})</a-->
                            {$premir_info.pre_pos_list$}
                        </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Host gene
                    </td>
                    <td style="text-align: left" colspan="6">
                        <span ng-if="premir_info.host_gene[0].host_gene == '-'">{$premir_info.host_gene[0].region$}</span>
                        <span ng-if="premir_info.host_gene[0].host_gene != '-' ">{$premir_info.host_gene[0].host_gene$}:{$premir_info.host_gene[0].region$}</span>
                    </td>
                </tr>

                <tr>
                    <td style="font-size: 18px;font-weight: bold">Sequence</td>
                    <td style="text-align: left" colspan="6">{$premir_info.sequence$}</td>
                </tr>
                <!--tr>
                    <td style="font-size: 18px;font-weight: bold">
                        Cluster
                    </td>
                    <td style="text-align: left" colspan="6">10kb:{$premir_info.cluster10k$}
                        <br>
                        5kb:{$premir_info.cluster5k$}
                    </td>
                </tr>
                                     <tr>
                                             <td style="font-size: 18px;font-weight: bold"> Function</td>
                                             <td style="text-align: left" colspan="6">
                                                <span ng-if="premir_fun">{$premir_info.function$}</span>
                                                <span ng-if="!premir_fun">Null</span>
                                            </td>
                                            
                                         </tr> 
                         <tr>
                                <td style="font-size: 18px;font-weight: bold"> HMDD
                                </td>
                                <td style="text-align: left" colspan="6">
                                    <span ng-if="premir_disease">{$premir_info.disease$}</span>
                                    <span ng-if="!premir_disease">Null</span>
                                    </td>
                         </tr-->
                <!--div ng-if="mirnago_count">       
                 <tr>   
                        <th style="font-size: 18px;font-weight: bold" rowspan={$mirnago_count$}> QuickGo function</th>
                        <th colspan="2" class="info" style="width: 25%">GO term</th>
                        <th colspan="3" class="info" style="width: 45%">GO name</th>
                        <th colspan="4" class="info" style="width: 25%">Reference</th>
                 </tr>
                 <tr>
                     <td colspan="2">{$v.go_id$}</td>
                     <td colspan="3">{$v.go_name$}</td>
                     <td colspan="4">{$v.reference$}</td>
                    
                 </tr>
                 </div-->
            </tbody>
            </table>
        
        <!--div ng-show="!premir_fun">
                <table id="pre" class="table table-condensed table-bordered" style="word-break:break-all; word-wrap:break-all;">
                    <tbody>
                    <tr>
                        <td colspan="2" class="default" style="text-align: center">
                        <span style="font-size: 20px">
                            <strong>Precursor miRNA</strong>
                        </span>
                        </td>
                    <tr>
                        <td style="font-size: 18px;" width="200px">
                            <strong>Precursor ID</strong>
                        </td>
                        <td style="text-align: left">{$premir_info.pre_id$}
                            <span style="float:right;clear;">
                                <a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$premir_info.mirinfo[0].pre_acc$}"
                                   title="miRBase" target="blank">
                                    <img src="/static/miRNASNP3/img/mirbase.png" border="0" style="width:40px;height:30px">
                                </a>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;">
                            <strong>Accession</strong>
                        </td>
                        <td style="text-align: left"><a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$premir_info.mirinfo[0].pre_acc$}">{$premir_info.mirinfo[0].pre_acc$}</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold">Genome Position
                        </td>
                        <td style="text-align: left">
                                <a href="https://genome-asia.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={$premir_info.mirinfo[0].pre_chr$}%3A{$premir_info.mirinfo[0].pre_start$}%2D{$premir_info.mirinfo[0].pre_end$}">
                                {$premir_info.mirinfo[0].pre_chr$}:{$premir_info.mirinfo[0].pre_start$}-{$premir_info.mirinfo[0].pre_end$}({$premir_info.mirinfo[0].pre_strand$})</a>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold">Host Gene
                        </td>
                        <td style="text-align: left">
                            <span ng-if="premir_info.host_gene != 'NA'">{$premir_info.host_gene$}</span>
                            <span ng-if="premir_info.host_gene == 'NA' ">intergenic</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold">
                            Cluster
                        </td>
                        <td style="text-align: left">10kb:
                            <span ng-if="premir_info.cluster10k.length">
                                <span ng-repeat="v in premir_info.cluster10k">{$v.pre_id$},</span></span>
                            <span ng-if="!premir_info.cluster10k.length">Null</span>
                            <br>
                            5kb:
                            <span ng-if="premir_info.cluster5k.length">
                                <span ng-repeat="v in premir_info.cluster5k">{$v.pre_id$},</span></span>
                            <span ng-if="!premir_info.cluster5k.length">Null</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: 18px;font-weight: bold">Sequence</td>
                        <td style="text-align: left">{$premir_info.sequence$}</td>
                    </tr>
                    </tbody>
                </table>
            </div-->
            <div ng-show="premir_info.mature.length">
            <table id="mature" class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td colspan="2" class="default" style="text-align: center">
                        <span style="font-size: 20px;font-weight: bold">Mature miRNA</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold" width="200px">Mature miRNA</td>
                    <td style="text-align: left"><a href="#!/mirna?mirna_id={$premir_info.mirinfo[0].mir_id$}" style="color: red">{$premir_info.mature[0].mature_id$}</a></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold" >Sequence</td>
                        <td style="text-align: left"><span style="font-weight: bold"> {$premir_info.mature[0].matureSeq$}</span></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Position</td>
                        <td style="text-align: left"><!--a href="http://ensembl.org/Homo_sapiens/Location/View?r={$premir_info.mirinfo[0].mir_chr$}:{$premir_info.mirinfo[0].mir_start$}-{$premir_info.mirinfo[0].mir_end$}"-->
                            <!--a href="https://genome-asia.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={$premir_info.mirinfo[0].mir_chr$}%3A{$premir_info.mirinfo[0].mir_start$}%2D{$premir_info.mirinfo[0].mir_end$}">
                            {$premir_info.mirinfo[0].mir_chr$}:{$premir_info.mirinfo[0].mir_start$}-{$premir_info.mirinfo[0].mir_end$}({$premir_info.mirinfo[0].mir_strand$})</a-->
                            {$premir_info.mature[0].pos_list$}
                        </td>
                </tr>
                </tbody>
            </table>
            </div>
            <div ng-show="premir_info.mirinfo.length-1">
            <table id="mature_2" class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td style="font-size: 18px;font-weight: bold" width="200px">Mature miRNA</td>
                    <td style="text-align: left"><a href="#!/mirna?mrina_id={$premir_info.mirinfo[1].mir_id$}" style="color: red">{$premir_info.mature[1].mature_id$}</a></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Sequence</td>
                        <td style="text-align: left"><span style="font-weight: bold"> {$premir_info.mature[1].matureSeq$}</span></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Position</td>
                        <td style="text-align: left"><!--a href="https://genome-asia.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={$premir_info.mirinfo[0].mir_chr$}%3A{$premir_info.mirinfo[0].mir_start$}%2D{$premir_info.mirinfo[0].mir_end$}">
                            {$premir_info.mirinfo[1].mir_chr$}:{$premir_info.mirinfo[1].mir_start$}-{$premir_info.mirinfo[1].mir_end$}({$premir_info.mirinfo[1].mir_strand$})</a-->
                        {$premir_info.mature[1].pos_list$}</td>
                </tr>
                </tbody>
            </table>
            </div>
            <!--div ng-show="premir_info.mirinfo.length-2>0">
            <table id="mature_3" class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Mature miRNA</td>
                    <td style="text-align: left"><a href="#!/mirna?mirna_id={$premir_info.mirinfo[2].mir_id$}" style="color: red">{$premir_info.mirinfo[2].mir_id$}</a></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Sequence</td>
                        <td style="text-align: left"><span style="font-weight: bold"> {$premir_info.mirinfo[2].matureSeq$}</span></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Position</td>
                        <td style="text-align: left"><a href="https://genome-asia.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={$premir_info.mirinfo[0].mir_chr$}%3A{$premir_info.mirinfo[0].mir_start$}%2D{$premir_info.mirinfo[0].mir_end$}">
                            {$premir_info.mirinfo[2].mir_chr$}:{$premir_info.mirinfo[2].mir_start$}-{$premir_info.mirinfo[2].mir_end$}({$premir_info.mirinfo[2].mir_strand$})</a></td>
                </tr>
                </tbody>
            </table>
            </div-->
        </div>
    </div>
    <!--div class="panel panel-info">
        <div class="panel-heading">
            <h4>Structure Information</h4></div>
        <div class="panel-body"-->
            <div class="panel panel-primary">
                <div class="panel-heading" >
                    <strong>Pre-miRNA structure of wild type</strong>
                </div>
                <div class="panel-body">
                <div ng-show="wild">
                    <div style="width: 50%; float:left; display:inline">
                        <table class="table table-condensed table-bordered"
                               style="word-break:break-all; word-wrap:break-all;">
                            <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 18px">
                                    <span>Pre-miRNA basic information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Pre-miRNA</td>
                                <td>{$premir_info.pre_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Minimum free energy</td>
                                <td>{$premir_info.mfe$} kCal/mol</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">
                                  SNPs in pre-miRNAs<!--br> (
                                      <span ng-if="premir_info.snv">{$premir_info.snv.length$}</span>
                                      <span ng-if="!premir_info.snv">0</span>
                                      )-->
                                </td>
                                <td>
                                    <span ng-if="premir_info.snv.length">
                                            
                                                <span ng-repeat="v in premir_info.snv">
                                                    <span ng-if="v.structure_analys">
                                                            <button ng-click="structure_effection_snp(v.mut_id)" type="button" class="btn btn-info" style="width:32%;padding:0;margin-bottom: 5px;">{$v.mut_id$}&nbsp;</button>
                                                    </span>
                                                    <!--span ng-if="!v.structure_analys">
                                                        <a href="#!/snp?snp_id={$v.mut_id$}"><button type="button" class="btn btn-danger" style="width: 32%;padding:0;margin-bottom: 5px;">{$v.mut_id$}&nbsp;</button></a>
                                    </span-->                                                                                                         
                                                </span></span>
                                    <span ng-if="!premir_info.snv.length">Null</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">
                                  DRVs in pre-miRNAs<!--br> (
                                    <span ng-if="premir_info.cosmic||premir_info.clinvar">{$premir_info.cosmic.length+premir_info.clinvar.length$}</span>
                                    <span ng-if="!premir_info.cosmic[0].mut_id && !premir_info.clinvar[0].mut_id">0</span>
                                    )-->
                                </td>
                                <td>
                                    <span ng-if="premir_info.cosmic.length">
                        <span ng-repeat="v in premir_info.cosmic">
                            <span ng-if="v.structure_analys">
                                    <button ng-click="structure_effection_mut(v.mut_id)" type="button" class="btn btn-info" style="width:32%;padding:0;margin-bottom: 5px;">{$v.mut_id$}&nbsp;</button>
                            </span>
                            <!--span ng-if="!v.structure_analys">
                                    <a href="#!/mutation?mut_id={$v.mut_id$}" style="color: red;"><button type="button" class="btn btn-danger" style="width: 32%;padding:0;margin-bottom: 5px;">{$v.mut_id$}&nbsp;</button></a>
                            </span-->
                        </span></span>
                            <span ng-if="premir_info.clinvar.length">
                                    <span ng-repeat="v in premir_info.clinvar">
                                        <span ng-if="v.structure_analys">
                                                <button ng-click="structure_effection_mut(v)" type="button" class="btn btn-info" style="width:32%;padding:0;margin-bottom: 5px;">{$v.mut_id$}&nbsp;</button>
                                        </span>
                                        <span ng-if="!v.structure_analys">
                                                <a href="#!/mutation?mut_id={$v.mut_id$}" style="color: red;"><button type="button" class="btn btn-danger" style="width: 32%;padding:0;margin-bottom: 5px;">{$v.mut_id$}&nbsp;</button></a>
                                        </span>
                            </span></span>
                                    <span ng-if="!premir_info.cosmic.length && !premir_info.clinvar.length">
                                        Null
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:right; display:inline">
                            <div class="panel-body">
                                <div id='rna_ss_wild'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div ng-show="primir_alt_count">
                <div class="panel panel-primary">
                    <div class="panel-heading" >
                        <strong>Pre-miRNA structure of SNP type</strong>
                        </div>
                    <div class="panel-body">
                        <div style="width: 50%; float:left; display:inline" ng-show="snp_single">
                            <table class="table table-condensed table-bordered table-hover" style="word-break:break-all; word-wrap:break-all;">
                                <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 18px">
                                    <span>SNP information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP ID</td>
                                <td>{$primir_alt_info.snp_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP position</td>
                                <td>{$primir_alt_info.snp_chr$}:{$primir_alt_info.snp_position$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP location in <br>pre-miRNA
                                </td>
                                <!--td>{$primir_alt_info.rela_loc$}</td-->
                                <td>{$snp_loc$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Ref/Alt</td>
                                <td>
                                    {$primir_alt_info.ref$}<span ng-if="primir_alt_info.snp_ref_freq!='NA'">({$primir_alt_info.snp_ref_freq$})</span>/{$primir_alt_info.curalt$}
                                    <span ng-if="primir_alt_info.snp_alt_freq!='NA'">({$primir_alt_info.snp_alt_freq$})</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Minimum free energy</td>
                                <td>{$primir_alt_info.mfe$} kCal/mol</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:left; display:inline" ng-show="snp_multi">
                        <table class="table table-condensed table-bordered table-hover" style="word-break:break-all; word-wrap:break-all;">
                            <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 16px">
                                    <span>SNP information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP ID</td>
                                <td>{$primir_alt_info.snp_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP position</td>
                                <td>{$primir_alt_info.snp_chr$}:{$primir_alt_info.snp_position$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP location in pre-miRNA
                                </td>
                                <td>{$snp_loc$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Ref/Alt</td>
                                <td>
                                    {$primir_alt_info.ref$}<span ng-if="primir_alt_info.snp_ref_freq!='NA'">({$primir_alt_info.snp_ref_freq$})</span>/
                                    <span ng-repeat="item in primir_alt_list">
                            <button ng-click="structure_effection_snp(item.snp_id,item.curalt)" type="button" class="btn btn-info" style="width:10%;padding:0;margin-bottom: 5px;">{$item.curalt$}</button>
                        </span>
                                    <span ng-if="primir_alt_info.snp_alt_freq!='NA'">({$primir_alt_info.snp_alt_freq$})</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Minimum free energy</td>
                                <td>{$primir_alt_info.mfe$}kCal/mol</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:right; display:inline">
                            <div class="panel-body">
                                <div id='rna_ss_alt'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
            </div>
                <div ng-show="primir_mut_count">
                    <div class="panel panel-primary">
                    <div class="panel-heading" >
                        <strong>Pre-miRNA structure of variation type</strong>
                </div>
                <div class="panel-body">
                    <div style="width: 50%; float:left; display:inline">
                        <table class="table table-condensed table-bordered" style="word-break:break-all; word-wrap:break-all;">
                            <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 18px">
                                    <span>Variation information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Variation ID</td>
                                <td>{$primir_mut_list.mut_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Resource</td>
                                <td>{$primir_mut_list.source$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Variation position</td>
                                <td>{$primir_mut_list.mut_chr$}:{$primir_mut_list.mut_position$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Variation location in pre-miRNA
                                </td>
                                <td>{$snp_loc$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Ref/Alt</td>
                                <td>
                                    {$primir_mut_list.ref$}/{$primir_mut_list.curalt$}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Minimum free energy</td>
                                <td>{$primir_mut_list.mfe$} kCal/mol</td>
                            </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:right; display:inline">
                            <div class="panel-body">
                                <div id='rna_ss_mut'></div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
</div>