<div class="content">
    <h3 class="quicksearch">Detail information of {$premir_info.pre_id$}</h3>
    <div class="panel panel-primary">
        <div class="panel-heading">
          
        </div>
        <div class="panel-body">
            <table id="pre" class="table table-condensed table-bordered" style="word-break:break-all; word-wrap:break-all;">
                <tbody>
                <tr>
                    <td colspan="2" class="default" style="text-align: center">
                    <span style="font-size: 20px">
                        <strong>Precursor miRNA</strong>
                    </span>
                    </td>
                <tr>
                    <td style="font-size: 18px;" width="200px">
                        <strong>Precursor ID</strong>
                    </td>
                    <td style="text-align: left">{$premir_info.pre_id$}
                        <span style="float:right;clear;">
                            <a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$premir_info.mirinfo[0].pre_acc$}"
                               title="miRBase" target="blank">
                                <img src="/static/miRNASNP3/img/mirbase.png" border="0" style="width:40px;height:30px">
                            </a>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;">
                        <strong>Accession</strong>
                    </td>
                    <td style="text-align: left"><a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$premir_info.mirinfo[0].pre_acc$}">{$premir_info.mirinfo[0].pre_acc$}</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Genome Position
                    </td>
                    <td style="text-align: left">
                        <a href="http://asia.ensembl.org/Homo_sapiens/Location/View?r={$premir_info.mirinfo[0].pre_chr$}:{$premir_info.mirinfo[0].pre_start$}-{$premir_info.mirinfo[0].pre_end$}">
                            {$premir_info.mirinfo[0].pre_chr$}:{$premir_info.mirinfo[0].pre_start$}-{$premir_info.mirinfo[0].pre_end$}({$premir_info.mirinfo[0].pre_strand$})</a>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Host Gene
                    </td>
                    <td style="text-align: left">
                        <span ng-if="premir_info.host_gene != 'NA'">{$premir_info.host_gene$}</span>
                        <span ng-if="premir_info.host_gene == 'NA' ">intergenic</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">
                        Cluster
                    </td>
                    <td style="text-align: left">10kb:
                        <span ng-if="premir_info.cluster10k.length">
                            <span ng-repeat="v in premir_info.cluster10k">{$v.id$};</span></span>
                        <span ng-if="!premir_info.cluster10k.length">Null</span>
                        <br>
                        5kb:
                        <span ng-if="premir_info.cluster5k/length">
                            <span ng-repeat="v in premir_info.cluster5k">{$v.id$};</span></span>
                        <span ng-if="!premir_info.cluster5k.length">Null</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Sequence</td>
                    <td style="text-align: left">{$premir_info.sequence$}</td>
                </tr>
                </tbody>
            </table>
            <div ng-show="premir_info.mirinfo.length">
            <table id="mature" class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td colspan="2" class="default" style="text-align: center">
                        <span style="font-size: 20px;font-weight: bold">Mature miRNA</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 18px;font-weight: bold" width="200px">Mature miRNA ID</td>
                    <td style="text-align: left">{$premir_info.mirinfo[0].mir_id$}</td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold" >Sequence</td>
                        <td style="text-align: left"><span style="color: red;font-weight: bold"> {$premir_info.mirinfo[0].matureSeq$}</span></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Position</td>
                        <td style="text-align: left"><a href="http://asia.ensembl.org/Homo_sapiens/Location/View?r={$premir_info.mirinfo[0].mir_chr$}:{$premir_info.mirinfo[0].mir_start$}-{$premir_info.mirinfo[0].mir_end$}">
                            {$premir_info.mirinfo[0].mir_chr$}:{$premir_info.mirinfo[0].mir_start$}-{$premir_info.mirinfo[0].mir_end$}({$premir_info.mirinfo[0].mir_strand$})</a></td>
                </tr>
                </tbody>
            </table>
            </div>
            <div ng-show="premir_info.mirinfo.length-1">
            <table id="mature_2" class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td style="font-size: 18px;font-weight: bold" width="200px">Mature miRNA ID</td>
                    <td style="text-align: left">{$premir_info.mirinfo[1].mir_id$}</td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Sequence</td>
                        <td><span style="color: red;font-weight: bold;text-align: left"> {$premir_info.mirinfo[1].matureSeq$}</span></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Position</td>
                        <td style="text-align: left"><a href="http://asia.ensembl.org/Homo_sapiens/Location/View?r={$premir_info.mirinfo[1].mir_chr$}:{$premir_info.mirinfo[1].mir_start$}-{$premir_info.mirinfo[1].mir_end$}">
                            {$premir_info.mirinfo[1].mir_chr$}:{$premir_info.mirinfo[1].mir_start$}-{$premir_info.mirinfo[1].mir_end$}({$premir_info.mirinfo[1].mir_strand$})</a></td>
                </tr>
                </tbody>
            </table>
            </div>
            <div ng-show="premir_info.mirinfo.length-2>0">
            <table id="mature_3" class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td style="font-size: 18px;font-weight: bold">Mature miRNA ID</td>
                    <td style="text-align: left">{$premir_info.mirinfo[2].mir_id$}</td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Sequence</td>
                        <td style="text-align: left"><span style="color: red;font-weight: bold"> {$premir_info.mirinfo[2].matureSeq$}</span></td>
                </tr>
                    <tr>
                    <td style="font-size: 18px;font-weight: bold">Position</td>
                        <td style="text-align: left"><a href="http://asia.ensembl.org/Homo_sapiens/Location/View?r={$premir_info.mirinfo[2].mir_chr$}:{$premir_info.mirinfo[2].mir_start$}-{$premir_info.mirinfo[2].mir_end$}">
                            {$premir_info.mirinfo[2].mir_chr$}:{$premir_info.mirinfo[2].mir_start$}-{$premir_info.mirinfo[2].mir_end$}({$premir_info.mirinfo[2].mir_strand$})</a></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
    <!--div class="panel panel-info">
        <div class="panel-heading">
            <h4>Structure Information</h4></div>
        <div class="panel-body"-->
            <div class="panel panel-primary">
                <div class="panel-heading" style="padding:0 10px;">Wild structure information of pre-miRNA
                </div>
                <div class="panel-body">
                <div ng-show="wild">
                    <div style="width: 50%; float:left; display:inline">
                        <table class="table table-condensed table-bordered"
                               style="word-break:break-all; word-wrap:break-all;">
                            <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 18px">
                                    <span>Pre-miRNA RNA basic information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Pre-miRNA</td>
                                <td>{$premir_info.pre_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Minimum Free Energy</td>
                                <td>{$premir_info.mfe$} kCal/mol</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">
                                  SNPs in Pre-miRNA
                                </td>
                                <td style="text-align: justify">
                                    <span ng-if="premir_info.snv.length">
                                            
                                                <span ng-repeat="v in premir_info.snv">                                                                                                              
                                            <button ng-click="structure_effection_snp(v)">{$v$}&nbsp;</button>
                                                </span></span>
                                    <span ng-if="!premir_info.snv.length">Null</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">
                                  Mutations in pre-miRNA
                                </td>
                                <td>
                                    <span ng-if="premir_info.cosmic.length || premir_info.clinvar.length">
                        <span ng-repeat="v in premir_info.cosmic">
                            <button ng-click="structure_effection_mut(v)">{$v$}&nbsp;</button></span>
                                    <span ng-repeat="v in premir_info.clinvar">
                            <button ng-click="structure_effection_mut(v)">{$v$}&nbsp;</button></span>
                                    </span>
                                    <span ng-if="!premir_info.cosmic.length && !premir_info.clinvar.length">
                                        Null
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:right; display:inline">
                            <div class="panel-body">
                                <div id='rna_ss_wild'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="primir_alt_count">
                <div class="panel panel-primary">
                    <div class="panel-heading" style="padding:0 10px;">Structure information of pre-miRNA with SNPs and mutations</div>
                    <div class="panel-body">
                        <div style="width: 50%; float:left; display:inline" ng-show="snp_single">
                            <table class="table table-condensed table-bordered table-hover" style="word-break:break-all; word-wrap:break-all;">
                                <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 18px">
                                    <span>SNP information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP ID</td>
                                <td>{$primir_alt_info.snp_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP position</td>
                                <td>{$primir_alt_info.snp_chr$}:{$primir_alt_info.snp_position$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP Loc relative to pre-miRNA
                                </td>
                                <td>{$primir_alt_info.rela_loc$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Ref/Alt</td>
                                <td>
                                    {$primir_alt_info.ref$}
                                    <span ng-if="primir_alt_info.snp_ref_freq!='novalue'">({$primir_alt_info.snp_ref_freq$})</span>
                                    /{$primir_alt_info.alt$}
                                    <span ng-if="primir_alt_info.snp_alt_freq!='novalue'">({$primir_alt_info.snp_alt_freq$})</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Minimum Free Energy</td>
                                <td>{$primir_alt_info.mfe$}kCal/mol</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:left; display:inline" ng-show="snp_multi">
                        <table class="table table-condensed table-bordered table-hover" style="word-break:break-all; word-wrap:break-all;">
                            <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 16px">
                                    <span>SNP information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP ID</td>
                                <td>{$primir_alt_info.snp_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP position</td>
                                <td>{$primir_alt_info.snp_chr$}:{$primir_alt_info.snp_position$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">SNP Loc relative to pre-miRNA
                                </td>
                                <td>{$primir_alt_info.rela_loc$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Ref/Alt</td>
                                <td>
                                    {$primir_alt_info.ref$}
                                    <span ng-if="primir_alt_info.snp_ref_freq!='novalue'">({$primir_alt_info.snp_ref_freq$})</span>
                                    /
                                    <span ng-repeat="curalt in primir_alt_info.alt">
                            <button ng-click="structure_effection_snp(primir_alt_info.snp_id,curalt)">{$curalt$}</button>
                        </span>
                                    <span ng-if="primir_alt_info.snp_alt_freq!='novalue'">({$primir_alt_info.snp_alt_freq$})</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 16px;font-weight: bold" width="200px">Minimum Free Energy</td>
                                <td>{$primir_alt_info.mfe$}kCal/mol</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:right; display:inline">
                            <div class="panel-body">
                                <div id='rna_ss_alt'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div ng-show="primir_mut_count">
                    <div class="panel panel-primary">
                    <div class="panel-heading" style="padding:0 10px;">Structure information of pre-miRNA with SNPs and mutations
                </div>
                <div class="panel-body">
                    <div style="width: 50%; float:left; display:inline">
                        <table class="table table-condensed table-bordered" style="word-break:break-all; word-wrap:break-all;">
                            <tbody>
                            <tr>
                                <td colspan="2" class="info"
                                    style="text-align: left;font-weight: bold;font-size: 18px">
                                    <span>Mutation information </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Mutation ID</td>
                                <td>{$primir_mut_list.mut_id$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Resource</td>
                                <td>{$primir_mut_list.resource$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Mutation position</td>
                                <td>{$primir_mut_list.mut_chr$}:{$primir_mut_list.mut_position$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">SNP Loc relative to pre-miRNA
                                    miRNA
                                </td>
                                <td>{$primir_mut_list.rela_loc$}</td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Ref/Alt</td>
                                <td>
                                    {$primir_mut_list.ref$}/{$primir_mut_list.alt$}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-size: 18px;font-weight: bold" width="200px">Miniman Free Energy</td>
                                <td>{$primir_mut_list.mfe$}kCal/mol</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="width: 50%; float:right; display:inline">
                            <div class="panel-body">
                                <div id='rna_ss_mut'></div>
                            </div>
                    </div>
                </div>
                </div>
            </div>
</div>