<div class="bs-callout-danger">
    <div class="description" style="margin-left: 7px;">
    <h4>Variation in human precursor miRNA</h4>
    <!--p>
        There are <span class="badge alert-info">1,913</span> precursor miRNAs collected from miRBase v22.
        You can click on your interest pre-miRNA in the following table to see details, including miRNA basic information and structure effect caused by SNPs/mutations in the pre-miRNA.
    </p-->
    <!--p>In this module, we provide information on the distribution of variations(dbSNP, COSMIC, ClinVar) in precursor miRNAs(pre-miRNAs). 
        There are <span style="color: white;background-color: #c10808;" class="badge alert-danger-pre">1,913</span> pre-miRNAs collected from mirBase v22. 
        User can click on the pre-miRNA you are interested in in the table below to see the structure changes caused by variations.</p-->
    <p>In this module, <span class="badge alert-danger-pre">46,826</span> SNPs and <span class="badge alert-danger-pre">5987</span> DRVs in <span class="badge alert-danger-pre">1897</span> and <span class="badge alert-danger-pre">1519</span> precurser miRNAs was listed below. Red link in table presents the details of the precurser miRNA, including the secondary structure of pre-miRNA and variation impact on it. Blue link in table redirect
    the source of miRNA. </p>
    </div>
</div>

<div class="panel panel-danger">
    <div class="panel-body">
        <form method="get" id="mirna-summary-form" class="form form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-2">Chromosome:</label>
                <div class="col-lg-3">
                    <select id="chr" class="form-control">
                        <option>All</option>
                        <option>chr1</option>
                        <option>chr2</option>
                        <option>chr3</option>
                        <option>chr4</option>
                        <option>chr5</option>
                        <option>chr6</option>
                        <option>chr7</option>
                        <option>chr8</option>
                        <option>chr9</option>
                        <option>chr10</option>
                        <option>chr11</option>
                        <option>chr12</option>
                        <option>chr13</option>
                        <option>chr14</option>
                        <option>chr15</option>
                        <option>chr16</option>
                        <option>chr17</option>
                        <option>chr18</option>
                        <option>chr19</option>
                        <option>chr20</option>
                        <option>chr21</option>
                        <option>chr22</option>
                        <option>chrX</option>
                        <option>chrY</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Input:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-xs" id="query_mirna_summary"
                        ng-model="query_mirna_summary" placeholder="hsa-mir-200b">
                </div>
                <span class="help-block">Input a miRNA, such as hsa-mir-200b</span>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-5">
                        <button class="btn btn-danger" id="search_button" type="submit" ng-click="fetch_primir_summary()">
                            Submit
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" id="reset_query" type="reset" ng-click="reset_query()">
                            Reset
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- alert -->
<div class="alert alert-danger alert-dismissible" ng-show="alert_nonitem" id="alert_nonitem">
        <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
      
        <strong>Sorry, your query item is not exist.</strong>
    </div>
    
    <div class="alert alert-danger alert-dismissible" ng-show="alert_invalid" id="alert_invalid">
        <!--button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="close_invalid()"-->
                <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
     
        <strong>Invalid input!</strong>
    </div>
<div class="div-table">
    <div ng-show="initial">
        <div class="flyover" ng-hide="snp_summary_count">
            <div class="mask"></div>
            <div class="spinner"></div>
        </div>
    </div>

    <div ng-show="primir_summary_count">

                    <div paging page="currentPage_primir" page-size=15 total="primir_summary_count" scroll-top="true" hide-if-empty="true"
                        show-prev-next="true" show-first-last="true" text-title-page="Page {page} Hover Over"
                        text-title-first="First hover" text-title-last="Last hover" text-title-next="Next hover"
                        text-title-prev="Prev hover" show-prev-next="true" show-first-last="true" ul-class="pagination"
                        active-class="active" disabled-class="disabled" paging-action="update_page(page)"></div>

        <table class="table table-bordered " ts-wrapper>
            <thead>
                <tr>
                    <th ts-criteria="pre_id" style="width: 14%">Pre-miRNA</th>
                    <th ts-criteria="pre_acc" style="width: 14%">Accession</th>
                    <th ts-criteria="pre_start" style="width: 20%">Position</th>
                    <th ts-criteria="snv_in_premir|parseInt" style="width: 15%">SNP number
                        <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                        data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                        data-content="Number of SNP in pre-miRNA."></span>
                    </th>
                    <th ts-criteria="cosmic_in_premir+clinvar_in_premir|parseInt" style="width: 15%">DRV number
                        <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                            data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                            data-content="Number of disease-related variation (DRV) in pre-miRNA."></span>
                    </th>
                    <th>Mature miRNAs</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in primir_summary_list" ts-repeat>
                    <td><a href="#!/premir_detail?search_ids={$v.pre_id$}" style="color:#FF0000">{$v.pre_id$}</a></td>
                    <td><a target="_blank" href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$v.pre_acc$}">{$ v.pre_acc$}</a></td>
                    <td><a target="_blank" href="https://genome-asia.ucsc.edu/cgi-bin/hgTracks?db=hg38&position={$ v.pre_chr $}%3A{$ v.pre_start $}%2D{$ v.pre_end$}">{$ v.pre_chr$}:{$v.pre_start$}-{$v.pre_end$}({$v.pre_strand$})</td>
                    <td>{$ v.snp_in_premir $}</td>
                    <td>{$ v.cosmic_in_premir+v.clinvar_in_premir $}</td>
                    <td>
                        <span ng-repeat="m in v.mature_info.mir_id"><a href="#!/mirna?mirna_id={$m$}"
                                style="color:#FF0000">{$ m$}</a>&nbsp;&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>