<div class="bs-callout-danger">
    <h4>SNPs in human precursor miRNA</h4>
    <p>
        There are <span class="badge alert-info">1,913</span> precursor miRNAs collected from miRBase v22.
    </p>
</div>

<div class="panel panel-danger">
    <div class="panel-body">
        <form method="get" id="mirna-summary-form" class="form form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-2">Chromosome:</label>
                <div class="col-lg-3">
                    <select id="chr" class="form-control">
                        <option>All</option>
                        <option>chr1</option>
                        <option>chr2</option>
                        <option>chr3</option>
                        <option>chr4</option>
                        <option>chr5</option>
                        <option>chr6</option>
                        <option>chr7</option>
                        <option>chr8</option>
                        <option>chr9</option>
                        <option>chr10</option>
                        <option>chr11</option>
                        <option>chr12</option>
                        <option>chr13</option>
                        <option>chr14</option>
                        <option>chr15</option>
                        <option>chr16</option>
                        <option>chr17</option>
                        <option>chr18</option>
                        <option>chr19</option>
                        <option>chr20</option>
                        <option>chr21</option>
                        <option>chr22</option>
                        <option>chrX</option>
                        <option>chrY</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Input:</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control input-xs" id="query_mirna_summary"
                        ng-model="query_mirna_summary" placeholder="hsa-mir-6859-1">
                </div>
                <span class="help-block">Input a miRNA, such as hsa-mir-6859-1</span>
            </div>
            <div class="form-group">
                    <div class="col-sm-offset-4">
                        <button class="btn btn-danger" id="search_button" type="submit" ng-click="fetch_primir_summary()">
                            Submit
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary" id="reset_query" type="reset" ng-click="reset_query()">
                            Reset
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- alert -->
<div class="alert alert-danger alert-dismissible" ng-show="alert_nonitem" id="alert_nonitem">
        <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
      
        <strong>Sorry, your query item is not exist.</strong>
    </div>
    
    <div class="alert alert-danger alert-dismissible" ng-show="alert_invalid" id="alert_invalid">
        <!--button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="close_invalid()"-->
                <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
     
        <strong>Invalid input!</strong>
    </div>
<div class="div-table">
    <div ng-show="initial">
        <div class="flyover" ng-hide="snp_summary_count">
            <div class="mask"></div>
            <div class="spinner"></div>
        </div>
    </div>

    <div ng-show="primir_summary_count">

                    <div paging page="currentPage_primir" page-size=15 total="primir_summary_count" scroll-top="true" hide-if-empty="true"
                        show-prev-next="true" show-first-last="true" text-title-page="Page {page} Hover Over"
                        text-title-first="First hover" text-title-last="Last hover" text-title-next="Next hover"
                        text-title-prev="Prev hover" show-prev-next="true" show-first-last="true" ul-class="pagination"
                        active-class="active" disabled-class="disabled" paging-action="update_page(page)"></div>

        <table class="table table-bordered " ts-wrapper>
            <thead>
                <tr>
                    <th ts-criteria="_id.pre_id" style="width: 14%">Pre-miRNA</th>
                    <th ts-criteria="_id.pre_acc" style="width: 14%">Accession</th>
                    <th ts-criteria="_id.pre_start" style="width: 24%">Position</th>
                    <th ts-criteria="_id.snv_in_pri|parseInt" style="width: 12%">SNP Number
                        <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                            data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                            data-content="Number of SNP in the pre-miRNA.">
                        </span>
                    </th>
                    <th ts-criteria="mutation_sum|parseInt" style="width: 10%">Mutation Number
                        <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                            data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                            data-content="Number of Mutation in the pre-miRNA, includes COSMIC Mutations and ClinVar variations;"></span>
                    </th>
                    <th>Mature miRNAs</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="v in primir_summary_list" ts-repeat>
                    <td><a href="#!/premir_detail?search_ids={$v._id.pre_id$}" style="color:#FF0000"><strong>{$v._id.pre_id$}</strong></a></td>
                    <td><a href="http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={$v._id.pre_acc$}">{$ v._id.pre_acc
                            $}</a></td>
                    <td>{$ v._id.pre_chr$}:{$v._id.pre_start$}-{$v._id.pre_end$}({$v._id.pre_strand$})</td>
                    <td>{$ v._id.snv_in_pri$}</td>
                    <td>{$ v.mutation_sum $}</td>
                    <td>
                        <span ng-repeat="m in v.mature_info"><a href="#!/mirna?mirna_id={$m.mir_id$}"
                                style="color:#FF0000">{$ m.mir_id$}</a>&nbsp;&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>