<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs ng-scope" role="tablist">
        <li role="presentation" class="active">
            <a href="#!/search_summary_mir#mir_detail" aria-controls="mir_detail" role="tab" data-toggle="tab">mirDetail</a></li>
        <li role="presentation">
            <a href="#!/search_summary_mir#snp_in_seed_gain" aria-controls="snp_in_seed_gain" role="tab" data-toggle="tab"
               ng-click="search_target_gain()">snp_in_seed(Target Gain)</a></li>
        <li role="presentation">
            <a href="#!/search_summary_mir#snp_in_seed_loss" aria-controls="snp_in_seed_loss" role="tab" data-toggle="tab"
               ng-click="search_target_loss()">snp_in_seed(TargetLoss)</a></li>
        <li role="presentation">
            <a href="#!/search_summary_mir#mutation_in_seed_gain" aria-controls="mutation_in_seed_gain" role="tab" data-toggle="tab">mutation_in_seed(Gain)</a></li>
        <li role="presentation">
            <a href="#!/search_summary_mir#mutation_in_seed_loss" aria-controls="mutation_in_seed_loss" role="tab" data-toggle="tab" >mutation_in_seed(Loss)</a></li>
    </ul>
    <div class="tab-content ng-scope">
        <div role="tabpanel" class="tab-pane active" id="mir_detail">
            <div class="panel-heading">
                <h4>miRNA information</h4>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>miRNA ID</dt>
                    <dd class="ng-binding">{$ mirinfo.mir_id$}</dd>
                    <dt>Accession</dt>
                    <dd class="ng-binding">{$ mirinfo.mir_acc$}</dd>
                    <dt>Coordinates</dt>
                    <dd class="ng-binding">{$mirinfo.mir_chr$}:{$mirinfo.mir_start$}-{$mirinfo.mir_end$}[{$mirinfo.mir_strand$}]</dd>
                    <dt>Mature Sequence</dt>
                    <dd class="ng-binding">{$ mirinfo.matureSeq$}</dd>
                    <dt>Precursor</dt>
                    <dd class="ng-binding"><{$ mirinfo.pre_id $}</dd>
                    <dt>Precursor_accession</dt>
                    <dd class="ng-binding">{$ mirinfo.pre_acc $}</dd>
                    <dt>Precursor coordinate</dt>
                    <dd class="ng-binding"><{$ mirinfo.pre_chr$}:{$mirinfo.pre_start$}-{$mirinfo.pre_end$}[{$mirinfo.pre_strand$}]</dd>
                    <dt>Precursor sequence</dt>
                    <dd class="ng-binding">{$mirinfo.harpin_seq$}</dd>
                    <dt>Average expression
                        <!--span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-container="body" data-trigger="hover"
                        data-content="miRNA expression profiles were calculated from 36 cancer types of  11635 samples from TCGA"
                        style="color: #5bc0de" data-original-title="" title=""></span-->
                    </dt>
                    <dd class="ng-binding">interget</dd>
                    <dt>Profile
                        <!--span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-container="body" data-trigger="hover"
                              data-content="The average expression levels in different cancer samples are from green(low) to red(high)"
                              style="color: #5bc0de" data-original-title="" title=""></span-->
                    </dt>
                    <dd class="ng-binding" >Profile</dd>
                    <dt>RNA strucure</dt>
                    <dd class="ng-binding">
                        <img >
                    </dd>
                </dl>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="snp_in_seed_gain">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>miRNA</th>
                    <th>SNP</th>
                    <th>Gene</th>
                    <th>Gene ACC </th>
                    <th>Transript ID</th>
                    <th>UTR3 Coodinate</th>
                    <th>Site Counts</th>
                    <th>Predict Detail </th>
                    <th>Effect</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="v in data_gain">
                    <td>{$ $index+1 $}</td>
                    <td>{$v.mir_id$}</td>
                    <td>{$ v.snp_id $}</td>
                    <td>{$v.gene_symbol$}</td>
                    <td>{$v.gene_acc $} </td>
                    <td>{$ v.enst_id $}</td>
                    <td>{$ v.utr3_pos$}</td>
                    <td>{$ v.site_count $}</td>
                    <!--td>{$v.predict_info$}</td-->
                    <td>
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="string2list(v.predict_info)">Predict Detail</button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Sites Details
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Site start</th>
                                                <th>Site end</th>
                                                <th>G_duplex(Kcal/mol)</th>
                                                <th>G_binding(Kcal/mol)</th>
                                                <th>G_open(Kcal/mol)</th>
                                                <th>AU_content</th>
                                                <th>3p pair </th>
                                                <th>Targetscan score</th>
                                                <th>Exact probility</th>
                                                <th>Binomal probility </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="site in site_info">
                                                <td>{$ $index+1 $}</td>
                                                <td>{$ site.site_start$}</td>
                                                <td>{$ site.site_end$}</td>
                                                <td>{$ site.g_duplex$}</td>
                                                <td>{$ site.g_binding$}</td>
                                                <td>{$ site.g_open$}</td>
                                                <td>{$ site.au_content$}</td>
                                                <td>{$ site.pair3p$}</td>
                                                <td>{$ site.tgs_score$}</td>
                                                <td>{$ site.pro_exac$}</td>
                                                <td>{$ site.pro_bino$}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{$ v.effect $}</td>
				</tr>
            </tbody>
            </table>
            <p>每页显示<input type="text" ng-model="pagenum" />条数</p>
            <p>总条目:{$records_count$}</p>
            <ul class="pagination pull-right">
			<li ng-class="{disabled:1==page}"><a ng-click="getPages(page-1<1?1:page-1)">&laquo;</a></li>
			<li ng-repeat="item in pages" ng-class="{active:item==page}"><a ng-click="getPages(item)" >{$ item $}</a></li>
			<li ng-class="{disabled:totalPages==page}"><a ng-click="getPages(page+1>totalPages?totalPages:page+1)">&raquo;</a></li>
		</ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="snp_in_seed_loss">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>miRNA</th>
                    <th>SNP</th>
                    <th>Gene</th>
                    <th>Gene ACC</th>
                    <th>Transcript ID</th>
                    <th>UTR3 Coordinate</th>
                    <th>Site counts</th>
                    <th>Predict Detail</th>
                    <th>Experiment Validation</th>
                    <th>Gene Expression Correlation</th>
                    <th>Effect</th>
                </tr>
                </thead>
            <tbody>
                <tr ng-repeat="v in data_loss">
                    <td>{$ $index+1 $}</td>
                    <td>{$v.mir_id$}</td>
                    <td>{$ v.snp_id $}</td>
                    <td>{$v.gene_symbol$}</td>
                    <td>{$v.gene_acc $} </td>
                    <td>{$ v.enst_id $}</td>
                    <td>{$ v.utr3_pos $}</td>
                    <td>{$ v.site_count $}</td>
                    <td>
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="string2list(v.predict_info)">Predict Detail</button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Sites Details
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Site start</th>
                                                <th>Site end</th>
                                                <th>G_duplex(Kcal/mol)</th>
                                                <th>G_binding(Kcal/mol)</th>
                                                <th>G_open(Kcal/mol)</th>
                                                <th>AU_content</th>
                                                <th>3p pair </th>
                                                <th>Targetscan score</th>
                                                <th>Exact probility</th>
                                                <th>Binomal probility </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="site in site_info">
                                                <td>{$ $index+1 $}</td>
                                                <td>{$ site.site_start$}</td>
                                                <td>{$ site.site_end$}</td>
                                                <td>{$ site.g_duplex$}</td>
                                                <td>{$ site.g_binding$}</td>
                                                <td>{$ site.g_open$}</td>
                                                <td>{$ site.au_content$}</td>
                                                <td>{$ site.pair3p$}</td>
                                                <td>{$ site.tgs_score$}</td>
                                                <td>{$ site.pro_exac$}</td>
                                                <td>{$ site.pro_bino$}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{$ v.experiment_valid $}</td>
                    <td>{$ v.gene_correlation$}</td>
                    <td>{$ v.effect $}</td>

				</tr>
            </tbody>
            </table>
            <p>每页显示<input type="text" ng-model="pagenum" />条数</p>
            <p>总条目:{$records_count$}</p>
            <ul class="pagination pull-right">
                <li ng-class="{disabled:1==page}"><a ng-click="getPages(page-1<1?1:page-1)">&laquo;</a></li>
                <li ng-repeat="item in pages" ng-class="{active:item==page}"><a ng-click="getPages(item)" >{$ item $}</a></li>
                <li ng-class="{disabled:totalPages==page}"><a ng-click="getPages(page+1>totalPages?totalPages:page+1)">&raquo;</a></li>
            </ul>
        </div>
        <div role="tabpanel" class="tab-pane" id="mutation_in_seed_gain">mutation in seed target gain table</div>
        <div role="tabpanel" class="tab-pane" id="mutation_in_seed_loss">mutation in seed target loss table</div>
    </div>
</div>