<!--
<div class="search bar3">
    <input name="" type="checkbox" value="checkbox" checked="checked" /> something
</div>
-->

<div style="margin: auto;width: 300px;height: 100px">
    <td class="top" style="padding-top: 2px">
        <form class="form">
            <label for="">snp_id/mir_id/gene_symbol</label>
            <input type="text" ng-model="search_ids",style="width:200px" >
            <button ng-click="fetch_results()">Search</button>
        </form>
        <a href="/#!" id="searchFieldsLink" onclick="fieldsShow()">Fileds>></a>
    </td>
</div>

<div id="result" style="font-size: 16px;color:  red;"></div>
<table class="table table-condensed table-bordered table-striped table-hover" id="project" border="1">
    <thead>
    <tr>
        <th>#</th>
        <th>miRNA</th>
        <th>snp</th>
        <th>utr3</th>
        <th>query</th>
        <th>mirandaScore</th>
        <th>hitEnergy</th>
        <th>utr_map_start</th>
        <th>utr_map_end</th>
        <th>effect</th>
    </tr>
    </thead>
</table>

<div class="container"><!--搜索框-->
        <form action="" class="parent">
            <input type="text" placeholder="Enter ID">
            <input type="button" value="Search">
        </form>
</div>
<div id="container" class="container_12">
        <input type="button" id="d" value="+Advance" onclick="butClick()"/>
        <div id="div" style="display: none;">
			   <div id="mainSearch" class="new_box" style="color: #005825; border-top-left-radius: 0px; border-top-right-radius: 0px; background-color: white">
                        <div class="searchFrame">
                            <div class="searchTitle">
							<input type="button" id="d1" value="+variant" onclick="butClick1()"/>
							</div>
							<div id="div1" style="display: none;">
                            <div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       snp in seed miR
                                  </label>
                            </div>
							<div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       snp in UTR3
                                  </label>
                            </div>
							<div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       mutation in seedmiR
                                  </label>
                            </div>
							<div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       mutation in UTR3
                                  </label>
                            </div>
							</div>
                            <div class="searchTitle">
							<input type="button" id="d2" value="+effect" onclick="butClick2()"/>
							</div>
							<div id="div2" style="display: none;">
                            <div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       gain
                                  </label>
                            </div>
							<div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       loss
                                  </label>
                            </div>
							</div>
							<div class="searchTitle">
							<input type="button" id="d3" value="+expression" onclick="butClick3()"/>
							</div>
							<div id="div3" style="display: none;">
							<label>
                            <select name="" class="select-control" >
                              <option value="0">All</option>
                                <option value="3">>1</option>
                                <option value="1">>10</option>
                                <option value="2">>100</option>
                            </select>
							  Gene expression
							</label>
							<label>
                            <select name="" class="select-control" >
                              <option value="0">All</option>
                                <option value="3">>1</option>
                                <option value="1">>10</option>
                                <option value="2">>100</option>
                            </select>
							  miRexpression
							</label>
							</div>
							<div class="searchTitle">
							<input type="button" id="d4" value="+other Attribute" onclick="butClick4()"/>
							</div>
							<div id="div4" style="display: none;">
                            <div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       experimental validate
                                  </label>
                            </div>
							<div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       expression correction
                                  </label>
                            </div>
							<div class="checkbox">
                                  <label>
                                       <input type="checkbox" name="" id="">
                                       GWAS LD
                                  </label>
                            </div>
							</div>
                        </div>
			   </div>
        </div>
</div>
