
<div>
    <!-- Nav tabs -->
  <ul class="nav nav-tabs ng-scope" role="tablist">
    <li role="presentation" class="active"><a href="#!/search_summary#snp_detail" aria-controls="snp_detail" role="tab" data-toggle="tab">SnpDetail</a></li>
    <li role="presentation"><a href="#!/search_summary#mirseed_gain" aria-controls="mirseed_gian" role="tab" data-toggle="tab"
                               ng-click="search_target_gain()">miR:snp_in_seed(Target Gain)</a></li>
      <li role="presentation"><a href="#!/search_summary#mirseed_loss" aria-controls="mirseed_loss" role="tab" data-toggle="tab"
                                 ng-click="search_target_loss()">miR:snp_in_seed(Target Loss)</a></li>
    <li role="presentation"><a href="#!/search_summary#geneutr" aria-controls="geneutr" role="tab" data-toggle="tab">Gene:snp_in_utr3</a></li>
    <li role="presentation"><a href="#!/search_summary#mutation" aria-controls="mutation" role="tab" data-toggle="tab">mutation:Related</a></li>
      <li role="presentation"><a href="#!/search_summary#ld" aria-controls="ld" role="tab" data-toggle="tab" ng-click="search_ld()">LD</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content ng-scope">
    <div role="tabpanel" class="tab-pane active" id="snp_detail">
        <div class="panel-heading">
            <h4>SNP Details</h4>
        </div>
        <div class="panel-body">
            <dl class="dl-horizontal">
                <dt>SNP ID</dt>
                <dd class="ng-binding">{$ snpinfo.snp_id$}</dd>
                <dt>SNP Coordinate</dt>
                <dd class="ng-binding">{$ snpinfo.snp_chr$}:{$snpinfo.snp_coordinate$}</dd>
                <dt>REF/ALT</dt>
                <dd class="ng-binidng">{$snpinfo.ref$}({$snpinfo.ref_freq$})/{$snpinfo.alt$}({$snpinfo.alt_freq$})</dd>
                <dt>GWAS Tag</dt>
                <dd class="ng-binidng">{$snpinfo.gwas_tag$}</dd>
                <dt>Located in LD region</dt>
                <dd class="ng-binding">{$snpinfo.loc_in_ld$}</dd>
            </dl>
            <dt></dt>
        </div>
    </div>
      <div role="tabpanel" class="tab-pane" id="mirseed_gain">
        <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>miRNA</th>
                    <th>SNP</th>
                    <th>Gene</th>
                    <th>Gene ACC </th>
                    <th>Transript ID</th>
                    <th>UTR3 Coodinate</th>
                    <th>Site Counts</th>
                    <th>Predict Detail </th>
                    <th>Effect</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="v in gain_hit_list">
                    <td>{$ $index+1 $}</td>
                    <td>{$v.mir_id$}</td>
                    <td>{$ v.snp_id $}</td>
                    <td>{$v.gene_symbol$}</td>
                    <td>{$v.gene_acc $} </td>
                    <td>{$ v.enst_id $}</td>
                    <td>{$ v.utr3_pos$}</td>
                    <td>{$ v.site_count $}</td>
                    <td>
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="string2list(v.predict_info)">Predict Detail</button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Sites Details
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Site start</th>
                                                <th>Site end</th>
                                                <th>G_duplex(Kcal/mol)</th>
                                                <th>G_binding(Kcal/mol)</th>
                                                <th>G_open(Kcal/mol)</th>
                                                <th>AU_content</th>
                                                <th>3p pair </th>
                                                <th>Targetscan score</th>
                                                <th>Exact probility</th>
                                                <th>Binomal probility </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="site in site_info">
                                                <td>{$ $index+1 $}</td>
                                                <td>{$ site.site_start$}</td>
                                                <td>{$ site.site_end$}</td>
                                                <td>{$ site.g_duplex$}</td>
                                                <td>{$ site.g_binding$}</td>
                                                <td>{$ site.g_open$}</td>
                                                <td>{$ site.au_content$}</td>
                                                <td>{$ site.pair3p$}</td>
                                                <td>{$ site.tgs_score$}</td>
                                                <td>{$ site.pro_exac$}</td>
                                                <td>{$ site.pro_bino$}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{$ v.effect $}</td>
				</tr>
            </tbody>
            </table>
            <p>Page: <input type="text" ng-model="page" /></p>
            <p>每页展示30条，总条数{$record_count$}</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="mirseed_loss">
          <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>miRNA</th>
                    <th>SNP</th>
                    <th>Gene</th>
                    <th>Gene ACC</th>
                    <th>Transcript ID</th>
                    <th>UTR3 Coordinate</th>
                    <th>Site counts</th>
                    <th>Predict Detail</th>
                    <th>Experiment Validation</th>
                    <th>Gene Expression Correlation</th>
                    <th>Effect</th>
                </tr>
                </thead>
            <tbody>
                <tr ng-repeat="v in loss_hit_list">
                    <td>{$ $index+1 $}</td>
                    <td>{$v.mir_id$}</td>
                    <td>{$ v.snp_id $}</td>
                    <td>{$v.gene_symbol$}</td>
                    <td>{$v.gene_acc $} </td>
                    <td>{$ v.enst_id $}</td>
                    <td>{$ v.utr3_pos $}</td>
                    <td>{$ v.site_count $}</td>
                    <td>
                        <button class="btn btn-default" data-toggle="modal" data-target="#myModal" ng-click="string2list(v.predict_info)">Predict Detail</button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Sites Details
                                    </div>
                                    <div class="modal-body">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Site start</th>
                                                <th>Site end</th>
                                                <th>G_duplex(Kcal/mol)</th>
                                                <th>G_binding(Kcal/mol)</th>
                                                <th>G_open(Kcal/mol)</th>
                                                <th>AU_content</th>
                                                <th>3p pair </th>
                                                <th>Targetscan score</th>
                                                <th>Exact probility</th>
                                                <th>Binomal probility </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="site in site_info">
                                                <td>{$ $index+1 $}</td>
                                                <td>{$ site.site_start$}</td>
                                                <td>{$ site.site_end$}</td>
                                                <td>{$ site.g_duplex$}</td>
                                                <td>{$ site.g_binding$}</td>
                                                <td>{$ site.g_open$}</td>
                                                <td>{$ site.au_content$}</td>
                                                <td>{$ site.pair3p$}</td>
                                                <td>{$ site.tgs_score$}</td>
                                                <td>{$ site.pro_exac$}</td>
                                                <td>{$ site.pro_bino$}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{$ v.experiment_valid $}</td>
                    <td>{$ v.gene_correlation$}</td>
                    <td>{$ v.effect $}</td>

				</tr>
            </tbody>
            </table>
            <p>Page:<input type="text" ng-model="page" /></p>
          <p>总条目:{$records_count$}</p>

      </div>
      <div role="tabpanel" class="tab-pane" id="geneutr">gene:snp in utr</div>
      <div role="tabpanel" class="tab-pane" id="mutation">mutation</div>
      <div role="tabpanel" class="tab-pane" id="ld">
          <div class="panel panel-default">
              <div class="panel-heading" style="background-color: #c4e3f3">
                  <strong style="color: black">{$ search_ids $}in GWAS LD regions</strong>
              </div>
              <div class="panel-body">
                  <div class="col-lg-9">
                      <div class="grid" style="width: 850px;height: 405px">
                          <svg width="800" height="400">
                              <svg width="800" height="800" ng-repeat="ld in ld_array">
                                  <text x="0" y="{$ ld.text_y $}" style="stroke: black">{$ ld.population $}</text>
                                  <rect x="{$ ld.rect_x $}" y="{$ ld.rect_y $}" height="17" width="{$ ld.width $}" fill="blue"></rect>
                              </svg>
                              <line ng-x1='250' y1='10' ng-x2='250' y2='400' style="stroke: red;stroke-width: 2;stroke-dasharray: 2;"></line>
                          </svg>

                      </div>
                  </div>
                  <div class="col-lg-3">
                      <table id="ld_region" class="table table-bordered" align="right">
                          <tr>
                              <th style=" vertical-align: middle">population</th>
                              <th class="text-center">Start</th>
                              <th class="text-center">End</th>
                          </tr>
                          <tr ng-repeat="ld in ld_array">
                              <td>{$ ld.population $}</td>
                              <td>{$ ld.start $}</td>
                              <td>{$ ld.end $}</td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

