<p>snp page</p>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>SNP</th>
            <th>chrome</th>
            <th>coordinate</th>
            <th>Ref</th>
            <th>Ref_fre</th>
            <th>Alt</th>
            <th>Alt_fre</th>
            <th>LD_snp</th>
            <th>Location</th>
            <th>Identifier</th>
            <th>Target Gain</th>
            <th>Target Loss</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="v in data_list">
            <td>{$ $index+1 $}</td>
            <td>{$ v.snp_id $}</td>
            <td>{$ v.snp_info[0].snp_chr$}</td>
            <td>{$ v.snp_info[0].snp_coordinate$}</td>
            <td>{$ v.snp_info[0].ref$}</td>
            <td>{$ v.snp_info[0].ref_freq$}</td>
            <td>{$ v.snp_info[0].alt$}</td>
            <td>{$ v.snp_info[0].alt_freq$}
            <td>{$ v.snp_info[0].loc_in_ld$}</td>
            <td>{$v.locate$}</td>
            <td>{$v.identifier $} </td>
            <td>{$ v.target_gain $}</td>
            <td>{$ v.target_loss$}</td>
        </tr>
        </tbody>
    </table>
    <p>每页显示<input type="text" ng-model="pagenum" />条数</p>
    <ul class="pagination pull-right">
        <li ng-class="{disabled:1==page}"><a ng-click="getPages(page-1<1?1:page-1)">&laquo;</a></li>
        <li ng-repeat="item in pages" ng-class="{active:item==page}"><a ng-click="getPages(item)" >{$ item $}</a></li>
        <li ng-class="{disabled:totalPages==page}"><a ng-click="getPages(page+1>totalPages?totalPages:page+1)">&raquo;</a></li>
    </ul>
</div>