<div class="bs-callout-success">
    <div class="description" style="margin-left: 7px;">
    <h4>SNP in miRNA and gene 3'UTR</h4>
    <!--p>
        <span class="badge alert-success">43,923</span> SNPs in pre-miRNA, with <span class="badge alert-success">4,666 </span>SNPs in microRNA seed region and <span class="badge alert-success">6,358,867</span> SNPs in 3'UTR are identified in miRNASNP3. 
    </p-->
    <p>A total of <span class="badge alert-success" style="color: white;background-color: #32920b;">46,826</span> SNPs in pre-miRNAs and <span class="badge alert-success" style="color: white;background-color: #32920b;">7,115,796</span> SNPs in gene 3'UTRs were identified by miRNASNP-v3, including <span class="badge alert-success" style="color: white;background-color: #32920b;">6229</span> SNPs in miRNA seed regions. 
        For SNPs in miRNA seed regions and SNPs in gene 3'UTRs, we focused on their effects on miRNA:gene interactions, 
        for SNPs in pre-miRNAs, we investigated their effects on pre-miRNA structure. 
        Users can retrieve specific genes/miRNAs to obtain SNPs in them and explore the impact of the SNP on mRNA:miRNA interaction.</p>
    </div>
</div>

<div class="panel panel-success">
    <div class="panel-body">   
    <form method="get" id="snp-summary-form" class="form form-horizontal">
        <!--div class="form-group">
            <label class="control-label col-lg-2">Chromosome:</label>
            <div class="col-lg-2">
            <select id="chr" class="form-control">
                <option value="All">All</option>
                <option>chr1</option>
                <option>chr2</option>
                <option>chr3</option>
                <option>chr4</option>
                <option>chr5</option>
                <option>chr6</option>
                <option>chr7</option>
                <option>chr8</option>
                <option>chr9</option>
                <option>chr10</option>
                <option>chr11</option>
                <option>chr12</option>
                <option>chr13</option>
                <option>chr14</option>
                <option>chr15</option>
                <option>chr16</option>
                <option>chr17</option>
                <option>chr18</option>
                <option>chr19</option>
                <option>chr20</option>
                <option>chr21</option>
                <option>chr22</option>
                <option>chrX</option>
                <option>chrY</option>
            </select>
            </div>
        </div>
            <div class="form-group">
            <label class="control-label col-lg-1">Region:</label>
            <div class="col-lg-2">
                <select id="location" class="form-control">
                    <option value="All">All</option>
                    <option value="UTR3">3'UTR</option>
                    <option value="mirseed">mature miRNA seed</option>
                </select>
            </div>
            </div-->
            <div class="form-group">
                    <label class="control-label col-lg-2">SNP GMAF:</label>
                            <div class="col-lg-3">
                                <select id="gmaf" class="form-control">
                                    <option value="All">All</option>
                                    <option>&gt;0.05</option>
                                    <option>&gt;0.01</option>
                                </select>
                            </div>
            
                <label class="control-label col-lg-2">SNP ID:</label>
                <div class="col-lg-3"> 
                    <input type="text" class="form-control" id="query_snp_summary" ng-model="query_snp_summary" placeholder="rs2070960">
                </div>
                
                <!--span class="help-block">Input a  SNP ID,such as rs1079033</span-->
            </div>
            
                    <div class="form-group">
                            
                    <!--span class="help-block">Input a  Gene/miRNA,such as hsa-miR-6761-3p/TP53</span-->
            <!--/div>
            <div class="form-group"-->
                    <label class="control-label col-lg-2">Gene/miRNA:</label>
                    <div class="col-lg-3" style="height: 34px">
                        <!--input type="text" class="form-control" id="query_iden_summary" ng-model="query_iden_summary" placeholder="tp53" class="iden"-->
                        <div id="query_iden_summary-div" class=" ui-widget has-feedback inner-addon right-addon">
                                <input name="query_iden_summary" type="text" id="query_iden_summary" class="form-control ui-autocomplete-input" placeholder="TP53" autocomplete="off">
                                <span class="glyphicon form-control-feedback"></span>
                                <label class="control-label" for="annotations"></label>
                            </div>      
                    </div>
                <div class="checkbox col-lg-4" data-triggle="hover" data-placement="middle">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" id="ldsnp">
                            <strong id="ldsnp_1">SNP in GWAS LD region</strong>
                    </label>
                </div>
            </div>
            <!--div class="form-group">
                    <div class="checkbox col-sm-offset-3 col-sm-4" data-triggle="hover" data-placement="right">
                    <label class="control-label checkbox-inline">
                        <input type="checkbox" id="mutation_rela">
                        <strong id="mutation_rela_1">Related to mutation</strong>
                    </label>
                </div>
            </div-->

            <div class="form-group">
                <div class="col-sm-offset-5">
                        <button class="btn btn-danger" id="search_button" type="submit" ng-click="fetch_snp_summary()" >
							Submit
                        </button>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#!/snp_summary"><button class="btn btn-primary" id="reset_query" type="reset" ng-click="reset_query()" name="reset_query">
							Reset
                        </button></a>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="alert alert-danger alert-dismissible" ng-show="alert_invalid" id="alert_invalid">
        <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong style="vertical-align: middle">Invalid input!</strong>
    </div>
<div ng-show="initial">
        <div class="flyover" ng-hide="seed_count||premir_count||utr3_count">
                <div class="mask"></div>
                <div class="spinner"></div>
            </div>
            </div>

<div ng-show="!initial">
<div class="alert alert-danger alert-dismissible" ng-show="seed_nonitem+premir_nonitem+utr3_nonitem==3" id="alert_nonitem">
        <button type="button" class="close" ng-click="close_invalid()">
            <span aria-hidden="true">&times;</span>
                </button>
                <strong style="vertical-align: middle">No result for your query item !</strong>
            </div>
<ul class="nav nav-tabs">
    <li id="seed" ng-click="show_one('seed')" ng-show="seed_count" style="background-color:#EBEBEB;margin-right: 3px "
        class="class_seed" ><a data-toggle="tab"><strong>SNP in seed</strong></a> </li>
    <li id="mature" ng-click="show_one('mature')" ng-show="mature_count" style="background-color:#EBEBEB;margin-right: 3px;margin-right: 3px "
        class="class_mature" ><a data-toggle="tab"><strong>SNP in mature miRNA</strong></a> </li>
    <li id="premir" ng-click="show_one('premir')" ng-show="premir_count" style="background-color:#EBEBEB;margin-right: 3px"
        class="class_premir"><a data-toggle="tab">
            <strong id="premir_tab">SNP in pre-miRNA</strong></a> </li>
    <li id="utr3" ng-click="show_one('utr3')" ng-show="utr3_count" style="background-color:#EBEBEB;margin-right: 3px"
        class="class_utr3" ><a data-toggle="tab"><strong id="utr3_tab">SNP in 3'UTR</strong></a> </li>    
</ul>

<!--div ng-show="seed_count"-->
        <div ng-show="seed">
                <div paging
                page="currentPage_seed"
                page-size=15
                total="seed_count"
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                show-first-last="true"
                text-title-page="Page {page} Hover Over"
                text-title-first="First hover"
                text-title-last="Last hover"
                text-title-next="Next hover"
                text-title-prev="Prev hover"
                show-prev-next="true"
                show-first-last="true"
                ul-class="pagination"
                active-class="active"
                disabled-class="disabled"
                paging-action="update_page(page,'mirseed')"
                
           ></div>
        <!--/div-->
    <div class="panel panel-info" ng-show="seed" id="section-seed">
            <table class="table table-bordered" style="table-layout: fixed" ts-wrapper>
                    <thead>
                    <tr>
                        <th ts-criteria="identifier" width="10%">Mature miRNA</th>
                        <th ts-criteria="snp_id" width="10%">SNP ID</th>
                        <th ts-criteria="snp_position|parseInt" width="10%">Position</th>
                       
                        <th width="8%" >Ref/Alt</th>
                        <th ts-criteria="alt_freq|parseInt" width="11%">Ref freq./Alt freq.</th>
                        <th width="7%">Region</th>
                        
                        <th ts-criteria="ldsnp" width="5%">LD
                        <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Whether the SNP is a GWAS tagSNP or locates in the linkage disequilibrium region of another GWAS tagSNP."></span></th>
                        <!--th ts-criteria="mutation_rela" width="8%">Mutation Related
                        <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Whether the SNP shares genome position with a mutation from COSMIC/ClinVar"></span></th-->
                        <th ts-criteria="gain_count_initial|parseInt" width="7%">Gain
                                <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="The number of gained gene targets by the SNP on mature miRNA seed region."></span></th>
                        <th ts-criteria="loss_count_initial|parseInt" width="7%">Loss
                                <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="The number of lost gene targets by the SNP on mature miRNA seed region."></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in snp_seed_list" ts-repeat>
                            <td><a href="#!/mirna?mirna_id={$v.mature_id$}&one='1'" style="color: red">{$v.mature_id$}</a></td>
                            <!--td><a href="http://www.mirbase.org/textsearch.shtml?q={&v.identifier&}&submit=submit">{$v.identifier$}</a></td-->
                        <td ><a href="#!/snp?snp_id={$v.snp_id$}&location=Seed&one=1" style="color: red">{$v.snp_id$}</a></td>
                        <td >{$v.snp_chr$}:{$v.snp_position$}</td>    
                        <td style="overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title='{$v.ref$}/{$v.curalt$}'>{$v.ref$}/{$v.curalt$}</td>
                        <td align="center">
                            <span ng-if="!v.ref_freq">-/</span><span ng-if="v.ref_freq">{$v.ref_freq$}/</span><span ng-if="!v.alt_freq">-</span><span ng-if="v.alt_freq">{$v.alt_freq$}</span>
                        </td>
                        <td>{$v.location$}</td>
                        <td>
                                <span class="glyphicon glyphicon-ok" style="color: deepskyblue" ng-if="v.is_ld=='1'"></span>
                                <span class="glyphicon glyphicon-remove" style="color: red" ng-if="v.is_ld=='0'"></span>
                            
                        </td>
                        <!--td>
                            <span class="glyphicon glyphicon-ok" style="color: deepskyblue" ng-if="v.mutation_rela"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-if="!v.mutation_rela"></span>
                        </td-->
                        <td>
                            <span ng-if="v.gain_count&&v.analysis">
                                <span ng-if="v.gain_count==0">
                                    <button id="g_seed" class="btn btn-success disabled" style="width: 60px;height:30px;text-align: right" >{$v.gain_count$}</button>
                                </span>
                                <span ng-if="v.gain_count!=0">
                                    <a href="#!/snp?snp_id={$v.snp_id$}&location=Seed&two='1'" style="color:#FF0000">
                                        <button id="g_seed" class="btn btn-success" style="width: 60px;height:30px;text-align: right" >{$v.gain_count$}</button></a>
                                </span>
                                </span>
                            <span ng-if="!v.analysis">-</span>
                        </td>
                     
                        <td>
                            <span ng-if="v.loss_count&&v.analysis">
                                <span ng-if="v.loss_count==0">
                                    <button id="g_seed" class="btn btn-danger disabled" style="width: 60px;height:30px;text-align: right" >{$v.loss_count$}</button>
                                </span>
                                <span ng-if="v.loss_count!=0">
                                    <a href="#!/snp?snp_id={$v.snp_id$}&location=Seed&three='1'" style="color:#FF0000">
                                        <button id="l_seed" class="btn btn-danger" style="width: 60px;height:30px;text-align: left">{$v.loss_count$}</button></a>
                                </span>
                            </span>
                            <span ng-if="!v.analysis">-</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
    </div>
</div>


<div ng-show="mature">
                <div paging
                page="currentPage_mature"
                page-size=15
                total="mature_count"
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                show-first-last="true"
                text-title-page="Page {page} Hover Over"
                text-title-first="First hover"
                text-title-last="Last hover"
                text-title-next="Next hover"
                text-title-prev="Prev hover"
                show-prev-next="true"
                show-first-last="true"
                ul-class="pagination"
                active-class="active"
                disabled-class="disabled"
                paging-action="update_page(page,'mature')"
                
           ></div>
        </div>
    <div class="panel panel-info" ng-show="mature" id="section-mature">
        <table class="table table-bordered" style="table-layout: fixed" ts-wrapper>
            <thead>
            <tr>
                <th ts-criteria="identifier" width="10%">Mature miRNA</th>
                <th ts-criteria="snp_id" width="10%">SNP ID</th>
                <th ts-criteria="snp_position\parseInt" width="10%">Position</th>
                <th width="5%">Ref/Alt</th>
                <th ts-criteria="alt_freq|parseInt" width="13%">Ref freq./Alt freq.</th>
                <th width="7%">Region
                        <!--span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                        data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                        data-content="In pre-miRNA means SNP in pre-miRNA but not in mature region;In mature means SNP in mature region but not in seed region."></span-->
                </th>
                <th ts-criteria="pre_id" width="10%">Pre-miRNA</th>
                <th ts-criteria="energy_change|parseInt" width="10%">&Delta;G
                        <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                        data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                        data-content="Minimum free energy(kcal/mol) change predicted by RNAfold."></span> 
                </th>
                <th ts-criteria="expression_change" width="10%">Predict
                        <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                        data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                        data-content="up:expression increases; mild:expression change mildly; down:expression change decreases;"></span>  
                </th>
                <th ts-criteria="ldsnp" width="5%">LD
                <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Whether the SNP is a GWAS tagSNP or locates in the linkage disequilibrium region of another GWAS tagSNP."></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="v in premir_list" ts-repeat>
                <td>
                    <span ng-if="v.location != 'pre-miRNA'"><a href="#!/mirna?mirna_id={$v.mature_id$}" style="color: red">{$v.mature_id$}</a></span>
                    <span ng-if="v.location=='pre-miRNA'">-</span>
                </td>
                <td ><a href="https://www.ncbi.nlm.nih.gov/snp/?term={$v.snp_id$}" target="_blank">{$v.snp_id$}</a></td>
                <td >{$v.snp_chr$}:{$v.snp_position$}</td>   
                <td style="overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title='{$v.ref$}/{$v.curalt$}'>{$v.ref$}/{$v.curalt$}</td>
                <td align="center">
                    <span ng-if="!v.ref_freq">-/</span><span ng-if="v.ref_freq">{$v.ref_freq$}/</span><span ng-if="!v.alt_freq">-</span><span ng-if="v.alt_freq">{$v.alt_freq$}</span>
                </td>
                <td>{$v.location$}</td>
                <td><a href="#!/premir_detail?search_ids={$v.pre_id$}" style="color: red">{$v.pre_id$}</td>
                <td>
                    <span ng-if="!v.analysis">-</span>
                    <span ng-if="v.energy_change&&v.analysis">{$v.energy_change$}</span></td>
                <td>
                    <span ng-if="!v.analysis">-</span>
                    <span ng-if="v.expression_change&&v.analysis">{$v.expression_change$}</span></td>
                <td>
                    <span class="glyphicon glyphicon-ok" style="color: deepskyblue" ng-if="v.is_ld=='1'"></span>
                    <span class="glyphicon glyphicon-remove" style="color: red" ng-if="v.is_ld=='0'"></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


        <div ng-show="premir">
                <div paging
                page="currentPage_premir"
                page-size=15
                total="premir_count"
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                show-first-last="true"
                text-title-page="Page {page} Hover Over"
                text-title-first="First hover"
                text-title-last="Last hover"
                text-title-next="Next hover"
                text-title-prev="Prev hover"
                show-prev-next="true"
                show-first-last="true"
                ul-class="pagination"
                active-class="active"
                disabled-class="disabled"
                paging-action="update_page(page,'pre-miRNA')"
                
           ></div>
        </div>
    <div class="panel panel-info" ng-show="premir" id="section-premir">
            <table class="table table-bordered" style="table-layout: fixed" ts-wrapper>
                    <thead>
                    <tr>
                        <th ts-criteria="pre_id" width="10%">Pre-miRNA</th>
                        <th ts-criteria="snp_id" width="10%">SNP ID</th>
                        <th ts-criteria="snp_position\parseInt" width="10%">Position</th>
                        <th width="5%">Ref/Alt</th>
                        <th ts-criteria="alt_freq|parseInt" width="13%">Ref freq./Alt freq.</th>
                        <th width="7%">Region
                                <!--span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                                data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                                data-content="In pre-miRNA means SNP in pre-miRNA but not in mature region;In mature means SNP in mature region but not in seed region."></span-->
                        </th>
                        <th ts-criteria="identifier" width="10%">Mature miRNA</th>
                        <th ts-criteria="energy_change|parseInt" width="10%">&Delta;G
                                <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                                data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                                data-content="Minimum free energy(kcal/mol) change predicted by RNAfold."></span> 
                        </th>
                        <th ts-criteria="expression_change" width="10%">Predict
                                <span class="glyphicon glyphicon-question-sign" data-placement="top" data-container="body"
                                data-toggle="popover" style="color: dodgerblue" data-trigger="hover"
                                data-content="Predicted SNP effects on mature miRNA expression (production).
                                up:expression increases; mild:expression change mildly; down:expression decreases;"></span>  
                        </th>
                        <th ts-criteria="ldsnp" width="5%">LD
                        <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Whether the SNP is a GWAS tagSNP or locates in the linkage disequilibrium region of another GWAS tagSNP."></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in premir_list" ts-repeat>
                        <td><a href="#!/premir_detail?search_ids={$v.pre_id$}" style="color: red">{$v.pre_id$}</td>
                        <td ><a href="https://www.ncbi.nlm.nih.gov/snp/?term={$v.snp_id$}" target="_blank">{$v.snp_id$}</a></td>
                        <td >{$v.snp_chr$}:{$v.snp_position$}</td>   
                        <td style="overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title='{$v.ref$}/{$v.curalt$}'>{$v.ref$}/{$v.curalt$}</td>
                        <td align="center">
                            <span ng-if="!v.ref_freq">-/</span><span ng-if="v.ref_freq">{$v.ref_freq$}/</span><span ng-if="!v.alt_freq">-</span><span ng-if="v.alt_freq">{$v.alt_freq$}</span>
                        </td>
                        <td>{$v.location$}</td>
                        <td>
                            <span ng-if="v.location != 'pre-miRNA'"><a href="#!/mirna?mirna_id={$v.mature_id$}" style="color: red">{$v.mature_id$}</a></span>
                            <span ng-if="v.location=='pre-miRNA'">-</span>
                        </td>
                        <td>
                            <span ng-if="!v.analysis">-</span>
                            <span ng-if="v.energy_change&&v.analysis">{$v.energy_change$}</span></td>
                        <td>
                            <span ng-if="!v.analysis">-</span>
                            <span ng-if="v.expression_change&&v.analysis">{$v.expression_change$}</span></td>
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: deepskyblue" ng-if="v.is_ld=='1'"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-if="v.is_ld=='0'"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
    </div>



        <div ng-show="utr3">
                <div paging
                page="currentPage_utr3"
                page-size=15
                total="utr3_count"
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                show-first-last="true"
                text-title-page="Page {page} Hover Over"
                text-title-first="First hover"
                text-title-last="Last hover"
                text-title-next="Next hover"
                text-title-prev="Prev hover"
                show-prev-next="true"
                show-first-last="true"
                ul-class="pagination"
                active-class="active"
                disabled-class="disabled"
                paging-action="update_page(page,'UTR3')"
                
           ></div>
        </div>
    <div class="panel panel-info" ng-show="utr3" id="section-utr3">
            <table class="table table-bordered" style="table-layout: fixed" ts-wrapper>
                    <thead>
                    <tr>
                        <th ts-criteria="identifier" width="10%">Gene/miRNA</th>
                        <th ts-criteria="snp_id" width="10%">SNP ID</th>
                        <th ts-criteria="snp_position|parseInt" width="10%">Position</th>                      
                        <th width="5%">Ref/Alt</th>
                        <th ts-criteria="alt_freq" width="13%">Ref freq./Alt freq.</th>
                        <th width="7%">Region</th>
                        <th ts-criteria="ldsnp" width="5%">LD
                        <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Whether the SNP is a GWAS tagSNP or locates in the linkage disequilibrium region of another GWAS tagSNP."></span></th>
                        <!--th ts-criteria="mutation_rela" width="8%">Mutation Related
                        <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="Whether the SNP shares genome position with a mutation from COSMIC/ClinVar"></span></th-->
                        <th ts-criteria="gain_count|parseInt" width="7%">Gain
                                <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="The number of gained miRNA targets by the SNP in the gene 3'UTR region."></span></th>
                        <th ts-criteria="loss_count|parseInt" width="7%">Loss
                                <span class="glyphicon glyphicon-question-sign" data-placement="top"  data-container="body" data-toggle="popover" style="color: dodgerblue" data-trigger="hover" data-content="The number of lost miRNA targets by the SNP in the gene 3'UTR region."></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="v in utr3_list" ts-repeat>
                        <td><a href="#!/gene?query_gene={$v.identifier$}&has_snp=1&has_phenotype=1" style="color: red">{$v.gene$}</a></td>
                        <td ><a href="#!/snp?snp_id={$v.snp_id$}&location=UTR3&one=1" style="color: red">{$v.snp_id$}</a></td>
                        <td >{$v.snp_chr$}:{$v.snp_position$}</td>
                        <td style="overflow:hidden;text-overflow:ellipsis;white-space: nowrap;" title='{$v.ref$}/{$v.curalt$}'>{$v.ref$}/{$v.curalt$}</td>
                        <td align="center">
                            <span ng-if="!v.ref_freq">-/</span><span ng-if="v.ref_freq">{$v.ref_freq$}/</span><span ng-if="!v.alt_freq">-</span><span ng-if="v.alt_freq">{$v.alt_freq$}</span>
                        </td>
                        <td>{$v.location$}</td>
                        
                        <td>
                            <span class="glyphicon glyphicon-ok" style="color: deepskyblue" ng-if="v.is_ld=='1'"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-if="v.is_ld=='0'"></span>
                        </td>
                        <!--td>
                            <span class="glyphicon glyphicon-ok" style="color: deepskyblue" ng-if="v.mutation_rela"></span>
                            <span class="glyphicon glyphicon-remove" style="color: red" ng-if="!v.mutation_rela"></span>
                        </td-->
                        <td>
                            <span ng-if="v.gain_count">
                                <span ng-if="v.gain_count==0">
                                    <button id="g_utr" class="btn btn-success disabled" style="width: 50px;height:30px;text-align: center" >{$v.gain_count$}</button>
                                </span>
                                <span ng-if="v.gain_count!=0">
                                    <a href="#!/snp?snp_id={$v.snp_id$}&location=UTR3&four='1'" style="color:#FF0000">
                                        <button id="g_utr" class="btn btn-success" style="width: 50px;height:30px;text-align: center" >{$v.gain_count$}</button></a>
                                </span>
                            </span>
                            <span ng-if="!v.gain_count">-</span>
                            </td>
                         
                            <td>
                                <span ng-if="v.loss_count">
                                    <span ng-if="v.loss_count==0">
                                        <button id="l_utr" class="btn btn-danger disabled" style="width: 50px;height:30px;text-align: center">{$v.loss_count$}</button>
                                    </span>
                                    <span ng-if="v.loss_count!=0">
                                        <a href="#!/snp?snp_id={$v.snp_id$}&location=UTR3&five='1'" style="color:#FF0000">
                                            <button id="l_utr" class="btn btn-danger" style="width: 50px;height:30px;text-align: center">{$v.loss_count$}</button></a>
                                    </span>
                                </span>
                                <span ng-if="!v.loss_count">-</span>
                            </td>
                    </tr>
                    </tbody>
                </table>
    </div>
</div>

