<div class="panel panel-primary">
    <div class="panel-heading"><strong>1.Predict the impact of variant in gene 3'UTR on miRNA:mRNA interaction</strong></div>
    <div class="panel-body">
        <p>There are two textboxes below, you can input your wild  sequence and mutant sequence in them, separately. If only wild sequence is provided, you will
            get result about miRNA targets on this sequence, if wild sequence and mutant sequence are provided, you will get miRNA target loss/gain induced by variant.(It takes few minutes for prediction)</p>
        <div class="alert alert-danger" ng-show="flash_message">
            <button type="button" class="close" ng-click="flash_message = null"><span aria-hidden="true">&times;</span></button>
            <strong>Error:</strong> {$ flash_message $}
        </div> <h5><strong>Wild Sequence (Required):</strong></h5>
        <textarea id="wildutr_sequence" rows="3" class=" form-control input-xs" style="border: solid; border-color: #5bc0de" placeholder="TTCTTTCTATTTTATTATCTGGGACATATTTAAATACAAACATATTCAGA"></textarea>
        <h5><strong>Mutant Sequence (Optional):</strong></h5>
        <textarea id="snputr_sequence" rows="3" class=" form-control input-xs" style="border: solid; border-color: #5bc0de" placeholder="TTCTTTCTATTTTATTATCTGGGACGTATTTAAATACAAACATATTCAGA"></textarea>
        <div class="form-group" style="margin-top: 3px">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="predict_altutr()">Predict</button>
                <button class="btn btn-success" ng-click="load_altutr()" style="margin-left: 10px">Example</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><strong>2.Predict the impact of variant in miRNA on miRNA:mRNA interaction</strong></div>
    <div class="panel-body">
        <p>There are two text boxes below, you can input your wild  sequence and mutant sequence in them, separately. If only wild sequence is provided, you will
            get result about miRNA targets on this sequence, if wild sequence and mutant sequence are provided, you will get miRNA target loss/gain induced by variant.<br>
            <strong style="color: red">Warning:</strong>It takes long time for analysing single miRNA sequence,be sure to keep the website on if you really want to take the prediction.</p>
            <div class="alert alert-danger" ng-show="flash_message1">
            <button type="button" class="close" ng-click="flash_message1 = null"><span aria-hidden="true">&times;</span></button>
            <strong>Error:</strong> {$ flash_message1 $}
        </div> <h5><strong>Wild Sequence (Required):</strong></h5>
        <textarea id="wildmir_sequence" rows="3" class=" form-control input-xs" style="border: solid; border-color: #5bc0de" placeholder="CCUGCUGGUCAGGAGUGGAUACUG"></textarea>
        <h5><strong>Mutant Sequence (Optional):</strong></h5>
        <textarea id="snpmir_sequence" rows="3" class=" form-control input-xs" style="border: solid; border-color: #5bc0de" placeholder="CCUGCUAGUCAGGAGUGGAUACUG"></textarea>
        <div class="form-group" style="margin-top: 3px">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="predict_altmir()">Predict</button>
                <button class="btn btn-success" ng-click="load_altmir()" style="margin-left: 10px">Example</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading"><strong>3.Predict the impact of variant in primary miRNA on miRNA structure</strong></div>
    <div class="panel-body">
        <p>Secondary structure and Minimum free energy are calculated by RNAfold, please input your SNP file and sequence file.<br>Input format:
        <strong>SNP file</strong> must contain the list of SNPs that are given in separate lines. The SNPs are described as, wild-type nucleotide followed by nucleotide position followed by mutant nucleotide.
        <strong>Sequence file</strong> should in Fasta format</p>
            <div class="alert alert-danger" ng-show="flash_message2">
            <button type="button" class="close" ng-click="flash_message2 = null"><span aria-hidden="true">&times;</span></button>
            <strong>Error:</strong> {$ flash_message2 $}
        </div> <h5><strong>SNPs (Optional):</strong></h5>
        <textarea id="snps" rows="3" class=" form-control input-xs" style="border: solid; border-color: #5bc0de" placeholder="G15C"></textarea>
        <h5><strong>Wild Sequence (Required):</strong></h5>
        <textarea id="wildmir_str_seq" rows="3" class=" form-control input-xs" style="border: solid; border-color: #5bc0de" placeholder="CCUGCUAGUCAGGAGUGGAUACUG"></textarea>
        <div class="form-group" style="margin-top: 3px">
            <div class="pull-right">
                <button class="btn btn-primary" ng-click="predict_structure()">Predict</button>
                <button class="btn btn-success" ng-click="load_structure()" style="margin-left: 10px">Example</button>
            </div>
        </div>
    </div>
</div>