<div class="container">
    <hr class="divider" />
    <div id="footer" class="text-center">
        <p>
            <strong>Copyright &copy;</strong>
            <a href="http://bioinfo.life.hust.edu.cn" target="_blank">Guo Lab</a>,
            <a href="http://life.hust.edu.cn" target="_blank">College of Life Science and Technology</a>,
            <a href="http://www.hust.edu.cn" target="_blank">HUST</a>,
            China.
        </p>
        <p>
            Any comments and suggestions, please <a href="#!/contact/" target="blank">contact us.</a>
        </p>

        <div style="width:200px;text-align: center;margin: 0 auto">
            <a href="https://clustrmaps.com/site/1aw5t" title="Visit tracker"><img
                    src="//www.clustrmaps.com/map_v2.png?d=X8XpQ8Ae53_ut0jUtocvptreGraivHwsssoa2ltAyww&cl=ffffff"></a>
        </div>
    </div>
</div>