<!--div class="container">
    <hr class="divider"/>
    <div id="footer" class="text-center">
        <p class="container">
            <strong>Copyright &copy;</strong>
            <a href="http://bioinfo.life.hust.edu.cn" target="_blank">Guo Lab</a>,
            <a href="http://life.hust.edu.cn" target="_blank">College of Life Science and Technology</a> ,
            <a href="http://www.hust.edu.cn" target="_blank">HUST</a>,
            China.
        </p>
        <p class="container">
            Any comments and suggestions, please <a href="#!/contact/" target="blank">contact us</a>
        </p>
    </div>
</div-->
<hr size="4">
<div class="container">
    <div id="footer" class="text-center" align="center">
        <p class="container">
            <strong>Copyright &copy;</strong>
            <a href="http://bioinfo.life.hust.edu.cn" target="_blank">Guo Lab</a>,
            <a href="http://life.hust.edu.cn" target="_blank">College of Life Science and Technology</a>,
            <a href="http://www.hust.edu.cn" target="_blank">HUST</a>,
            China.
        </p>
        <p class="container">
            Any comments and suggestions, please <a href="#!/contact/" target="blank">contact us</a>
        </p>

        <div style="width:200px;text-align: center;margin: 0 auto">
           <a href="https://clustrmaps.com/site/1aw5t" title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=X8XpQ8Ae53_ut0jUtocvptreGraivHwsssoa2ltAyww&cl=ffffff"></a>
        </div>

    </div>
</div>

<style>
    #myBtn {
      display: none;
      position: fixed;
      bottom: 200px;
      right: 200px;
      z-index: 99;
      font-size: 18px;
      border: none;
      outline: none;
      background-color: #87C540;
      color: white;
      cursor: pointer;
      padding: 15px;
      border-radius: 4px;
    }

    #myBtn:hover {
      background-color: #555;
    }
</style>


