<div class="container">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#!/" class="navbar-brand">miRNASNP3</a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                <li><a href="#!/mir">miRNA</a> </li>
                <li><a href="#!/snp">SNP</a> </li>
                <li><a href="#!/mutation">Mutation</a></li>
                <li><a href="#!/search">Search</a></li>
                <li><a href="#!/tools">AnalysiTools</a></li>
                <li><a href="#!/download">Download</a> </li>
                <li><a href="#!/document">Document</a></li>
                <li><a href="#!/contact">Contact</a> </li>
            </ul>
        </div>
    </nav>
</div>
