.block_navigation
{
    list-style-type: none;
		margin:0;
    padding: 0;
    width: 100px;
    background-color: rgba(255,255,255,0);
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 0;
		border:0;
		margin:0;
    text-decoration: none;
}


.leftcolumn {   
  float: left;
  width: 25%;
}
 
/* 右侧栏 */
.rightcolumn {
  float: left;
  width: 75%;
  margin-left: 40px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#introduction,#method,#result,#download,#publication,#contact
{
	positon:relative;
	padding-top:50px;
	margin-top:-50px;
}