<!doctype html>
<html lang="en" ng-app="miRNASNP3">
<head>

    <meta charset="utf-8">
    <title>miRNASNP3</title>

    <link rel="icon" href="/static/miRNASNP3/img/miRNASNP2.0_logo.PNG">


    <link rel="stylesheet" href="/static/miRNASNP3/css/bootstrap.css">
    <link rel="stylesheet" href="/static/miRNASNP3/lib/bootstrap-slider/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/static/miRNASNP3/css/main.css">
    <link rel="stylesheet" href="/static/miRNASNP3/lib/bootstrap-select/dist/css/bootstrap-select.css">


    <script src="/static/miRNASNP3/lib/angular/angular.js"></script>
    <script src="/static/miRNASNP3/lib/angular/angular-route.js"></script>
    <script src="/static/miRNASNP3/lib/angular/angular-resource.js"></script>
    <script src="/static/miRNASNP3/lib/angular-paging/paging.js"></script>
    <script src="/static/miRNASNP3/lib/angular-pageslide-directive/angular-pageslide-directive.js"></script>

    <script src="/static/miRNASNP3/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="/static/miRNASNP3/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/static/miRNASNP3/lib/bootstrap/bootstrap.js"></script>
    <script src="/static/miRNASNP3/lib/ui-bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
    <script src="/static/miRNASNP3/lib/bootstrap-slider/bootstrap-slider.js"></script>
    <script src="/static/miRNASNP3/lib/bootstrap-slider/angular-bootstrap-slider.js"></script>
    <script src="/static/miRNASNP3/lib/bootstrap-select/js/bootstrap-select.js"></script>

    <script src="/static/miRNASNP3/js/app.js"></script>
    <script src="/static/miRNASNP3/js/home.controller.js"></script>
    <script src="/static/miRNASNP3/js/document.controller.js"></script>
    <script src="/static/miRNASNP3/js/tools.controller.js"></script>
    <script src="/static/miRNASNP3/js/search.controller.js"></script>
    <script src="/static/miRNASNP3/js/search_doc.controller.js"></script>
    <script src="/static/miRNASNP3/js/browser.controller.js"></script>
    <script src="/static/miRNASNP3/js/test.js"></script>

</head>
<body>
<a href="#!/">
    <img src="/static/miRNASNP3/img/miRNASNP2.0_logo.PNG" >
</a>
<img src="/static/miRNASNP3/img/miRNASNP3_title.PNG">
<div ng-include="'/static/miRNASNP3/partials/navigation.html'"></div>

<div class="container">
    <div ng-view></div>
</div>

<div ng-include="'/static/miRNASNP3/partials/footer.html'"></div>

</body>
</html>